//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

pc-items-table(
    table-title='::"My domain models"'
    column-defs='$ctrl.modelsColumnDefs'
    items='$ctrl.modelsTable'
    on-action='$ctrl.onModelAction($event)'
    selected-row-id='$ctrl.selectedItemIDs'
    on-selection-change='$ctrl.selectionHook($event)'
)
    footer-slot
        div(style='font-style: italic' ng-hide='$ctrl.modelsTable.length')
            | You have no domain models. #[a.link-success(ui-sref='base.configuration.tabs.advanced.models.model({modelID: "new"})') Create one?]
        a.link-success(ui-sref='base.configuration.tabs.advanced.models.model({modelID: "new"})' ng-show='$ctrl.modelsTable.length') + Add new domain model

h2.pc-page-header(ng-if='$ctrl.selectedItemIDs.length !== 1')
    | {{ $ctrl.selectedItemIDs.length ? 'Multiple' : 'No' }} domain models selected
    span.pc-page-header-sub Select only one domain model to see settings and edit it

h2.pc-page-header(ng-if='$ctrl.selectedItemIDs.length === 1')
    | {{ $ctrl.$state.params.modelID !== 'new' ? 'Edit' : 'Create' }} domain model {{ backupItem.valueType ? 'for ‘'+backupItem.valueType+'’ value type' : '' }}

div(bs-collapse='' data-allow-multiple='true' ng-model='ui.activePanels' ng-class='{"pca-form-blocked": $ctrl.selectedItemIDs.length !== 1}')
    form.form-horizontal(name='ui.inputForm' novalidate )
        include /app/modules/states/configuration/domains/general
        include /app/modules/states/configuration/domains/query
        include /app/modules/states/configuration/domains/store

.pc-form-actions-panel(ng-class='{"pca-form-blocked": $ctrl.selectedItemIDs.length !== 1}')
    button.btn-ignite.btn-ignite--success(
        ng-click='showImportDomainModal()'
        type='button'
    ) Import from database
    .pc-form-actions-panel__right-after
    button.btn-ignite.btn-ignite--link-success(
        type='button'
        ng-disabled='!ui.inputForm.$dirty'
        ng-click='ui.inputForm.$dirty && resetAll()'
    )
        | Cancel
    button.btn-ignite.btn-ignite--success(
        ng-disabled='!ui.inputForm.$dirty'
        ng-click='ui.inputForm.$dirty && $ctrl.saveItem(backupItem)'
    ) Save
