//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

include /app/helpers/jade/mixins

-var form = 'misc'
-var model = 'backupItem'
-var pathModes = `${model}.pathModes`

panel-collapsible(ng-form=form on-open=`ui.loadPanel('${form}')`)
    panel-title Miscellaneous
    panel-description Various miscellaneous IGFS settings.
    panel-content.pca-form-row(ng-if=`ui.isPanelLoaded('${form}')`)
        .pca-form-column-6.pc-form-grid-row
            .pc-form-grid-col-60
                +number('Block size:', `${model}.blockSize`, '"blockSize"', 'true', '65536', '0', 'File data block size in bytes')

            //- Since ignite 2.0
            .pc-form-grid-col-60(ng-if='$ctrl.available("2.0.0")')
                +number('Buffer size:', `${model}.streamBufferSize`, '"streamBufferSize"', 'true', '65536', '0', 'Read/write buffer size for IGFS stream operations in bytes')

            //- Removed in ignite 2.0
            .pc-form-grid-col-60(ng-if-start='$ctrl.available(["1.0.0", "2.0.0"])')
                +number('Stream buffer size:', `${model}.streamBufferSize`, '"streamBufferSize"', 'true', '65536', '0', 'Read/write buffer size for IGFS stream operations in bytes')
            .pc-form-grid-col-60(ng-if-end)
                +number('Maximum space size:', `${model}.maxSpaceSize`, '"maxSpaceSize"', 'true', '0', '0', 'Maximum space available for data cache to store file system entries')

            .pc-form-grid-col-30
                +number('Maximum task range length:', `${model}.maximumTaskRangeLength`, '"maximumTaskRangeLength"', 'true', '0', '0', 'Maximum default range size of a file being split during IGFS task execution')
            .pc-form-grid-col-30
                +number-min-max('Management port:', `${model}.managementPort`, '"managementPort"', 'true', '11400', '0', '65535', 'Port number for management endpoint')
            .pc-form-grid-col-30
                +number('Per node batch size:', `${model}.perNodeBatchSize`, '"perNodeBatchSize"', 'true', '100', '0', 'Number of file blocks collected on local node before sending batch to remote node')
            .pc-form-grid-col-30
                +number('Per node parallel batch count:', `${model}.perNodeParallelBatchCount`, '"perNodeParallelBatchCount"', 'true', '8', '0', 'Number of file block batches that can be concurrently sent to remote node')
            .pc-form-grid-col-60
                +number('Prefetch blocks:', `${model}.prefetchBlocks`, '"prefetchBlocks"', 'true', '0', '0', 'Number of pre-fetched blocks if specific file chunk is requested')
            .pc-form-grid-col-60
                +number('Sequential reads before prefetch:', `${model}.sequentialReadsBeforePrefetch`, '"sequentialReadsBeforePrefetch"', 'true', '0', '0', 'Amount of sequential block reads before prefetch is triggered')

            //- Removed in ignite 2.0
            .pc-form-grid-col-60(ng-if='$ctrl.available(["1.0.0", "2.0.0"])')
                +number('Trash purge timeout:', `${model}.trashPurgeTimeout`, '"trashPurgeTimeout"', 'true', '1000', '0', 'Maximum timeout awaiting for trash purging in case data cache oversize is detected')

            .pc-form-grid-col-60
                +checkbox('Colocate metadata', `${model}.colocateMetadata`, '"colocateMetadata"', 'Whether to co-locate metadata on a single node')
            .pc-form-grid-col-60
                +checkbox('Relaxed consistency', `${model}.relaxedConsistency`, '"relaxedConsistency"',
                    'If value of this flag is <b>true</b>, IGFS will skip expensive consistency checks<br/>\
                    It is recommended to set this flag to <b>false</b> if your application has conflicting\
                    operations, or you do not know how exactly users will use your system')

            //- Since ignite 2.0
            .pc-form-grid-col-60(ng-if='$ctrl.available("2.0.0")')
                +checkbox('Update file length on flush', model + '.updateFileLengthOnFlush', '"updateFileLengthOnFlush"', 'Update file length on flush flag')

            .pc-form-grid-col-60
                mixin igfs-misc-path-modes
                    .ignite-form-field
                        +form-field__label({ label: 'Path modes:', name: '"pathModes"' })
                            +form-field__tooltip({ title: `Map of path prefixes to IGFS modes used for them` })

                        -let items = pathModes

                        list-editable(ng-model=items)
                            list-editable-item-view
                                | {{ $item.path + " [" + $item.mode + "]"}}

                            list-editable-item-edit
                                - form = '$parent.form'

                                .pc-form-grid-row
                                    .pc-form-grid-col-30
                                        +form-field__text({
                                            label: 'Path:',
                                            model: '$item.path',
                                            name: '"path"',
                                            required: true,
                                            placeholder: 'Enter path'
                                        })(ignite-auto-focus)
                                    .pc-form-grid-col-30
                                        +form-field__dropdown({
                                            label: 'Mode:',
                                            model: `$item.mode`,
                                            name: '"mode"',
                                            required: true,
                                            placeholder: 'Choose igfs mode',
                                            options: '{{::$ctrl.IGFSs.defaultMode.values}}'
                                        })(
                                            ng-model-options='{allowInvalid: true}'
                                        )

                            list-editable-no-items
                                list-editable-add-item-button(
                                    add-item=`$editLast((${items} = ${items} || []).push({}))`
                                    label-single='path mode'
                                    label-multiple='path modes'
                                )

                +igfs-misc-path-modes

        .pca-form-column-6
            +preview-xml-java(model, 'igfsMisc')
