

header.header-with-selector
    div
        h1 Clusters Console
        version-picker
    div
        a.btn-ignite.btn-ignite--primary(
            type='button'
            ui-sref='base.configuration.edit({clusterID: "new"})'
        )
            svg.icon-left(ignite-icon='plus')
            | Create Cluster Configuration
        

.pco-relative-root
    pc-items-table(
        table-title='::"My Cluster Console"'
        column-defs='$ctrl.clustersColumnDefs'
        items='$ctrl.shortClusters$|async:this'
        on-action='$ctrl.onClustersAction($event)'
        max-rows-to-show='10'
        one-way-selection='::false'
        selected-row-id='$ctrl.selectedRowsIDs$|async:this'
        on-selection-change='$ctrl.selectedRows$.next($event)'
        actions-menu='$ctrl.actions$|async:this'
    )
        footer-slot(ng-hide='($ctrl.shortClusters$|async:this).length' style='font-style: italic')
            | You have no cluster configurations.
            a.link-success(ui-sref='base.configuration.edit.basic({clusterID: "new"})') Create one?
