

include /app/helpers/jade/mixins
include /app/configuration/mixins

-var form = 'statistics'
-var model = '$ctrl.clonedCache'

panel-collapsible(ng-form=form on-open=`ui.loadPanel('${form}')`)
    panel-title Statistics
    panel-description Cache statistics and management settings.
    panel-content.pca-form-row(ng-if=`ui.isPanelLoaded('${form}')`)
        .pca-form-column-6.pc-form-grid-row
            .pc-form-grid-col-60
                +form-field__checkbox({
                    label: 'Statistics enabled',
                    model: `${model}.statisticsEnabled`,
                    name: '"statisticsEnabled"',
                    tip: 'Flag indicating whether statistics gathering is enabled on this cache'
                })
            .pc-form-grid-col-60
                +form-field__checkbox({
                    label: 'Management enabled',
                    model: `${model}.managementEnabled`,
                    name: '"managementEnabled"',
                    tip: 'Flag indicating whether management is enabled on this cache<br/>\
                         If enabled the CacheMXBean for each cache is registered in the platform MBean server'
                })
        .pca-form-column-6
            +preview-model(model, 'cacheStatistics')
