//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

include /app/helpers/jade/mixins

-var form = 'logger'
-var model = '$ctrl.clonedCluster.logger'
-var kind = model + '.kind'

panel-collapsible(ng-form=form on-open=`ui.loadPanel('${form}')`)
    panel-title Logger configuration
    panel-description Logging functionality used throughout the system.
    panel-content.pca-form-row(ng-if=`ui.isPanelLoaded('${form}')`)
        .pca-form-column-6.pc-form-grid-row
            .pc-form-grid-col-60
                +form-field__dropdown({
                    label: 'Logger:',
                    model: kind,
                    name: '"logger"',
                    placeholder: 'Default',
                    options: '[\
                        {value: "Log4j", label: "Apache Log4j"},\
                        {value: "Log4j2", label: "Apache Log4j 2"},\
                        {value: "SLF4J", label: "Simple Logging Facade (SLF4J)"},\
                        {value: "Java", label: "Java logger (JUL)"},\
                        {value: "JCL", label: "Jakarta Commons Logging (JCL)"},\
                        {value: "Null", label: "Null logger"},\
                        {value: "Custom", label: "Custom"},\
                        {value: null, label: "Default"}\
                    ]',
                    tip: 'Logger implementations\
                       <ul>\
                           <li>Apache Log4j - log4j-based logger</li>\
                           <li>Apache Log4j 2 - Log4j2-based logger</li>\
                           <li>Simple Logging Facade (SLF4J) - SLF4j-based logger</li>\
                           <li>Java logger (JUL) - built in java logger</li>\
                           <li>Jakarta Commons Logging (JCL) - wraps any JCL (Jakarta Commons Logging) loggers</li>\
                           <li>Null logger - logger which does not output anything</li>\
                           <li>Custom - custom logger implementation</li>\
                           <li>Default - Apache Log4j if awailable on classpath or Java logger otherwise</li>\
                       </ul>'
                })
            .pc-form-group(ng-show=`${kind} && (${kind} === 'Log4j2' || ${kind} === 'Log4j' || ${kind} === 'Custom')`)
                .pc-form-grid-row(ng-show=`${kind} === 'Log4j2'`)
                    include ./logger/log4j2
                .pc-form-grid-row(ng-show=`${kind} === 'Log4j'`)
                    include ./logger/log4j
                .pc-form-grid-row(ng-show=`${kind} === 'Custom'`)
                    include ./logger/custom
        .pca-form-column-6
            -var model = '$ctrl.clonedCluster.logger'
            +preview-xml-java(model, 'clusterLogger')
