//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

include /app/helpers/jade/mixins

-var form = 'swap'
-var model = '$ctrl.clonedCluster'
-var swapModel = model + '.swapSpaceSpi'
-var fileSwapModel = swapModel + '.FileSwapSpaceSpi'

panel-collapsible(
    ng-form=form
    on-open=`ui.loadPanel('${form}')`
    ng-show='$ctrl.available(["1.0.0", "2.0.0"])'
)
    panel-title Swap
    panel-description
        | Settings for overflow data to disk if it cannot fit in memory. 
        | #[a.link-success(href="https://apacheignite.readme.io/v1.9/docs/off-heap-memory#swap-space" target="_blank") More info]
    panel-content.pca-form-row(ng-if=`$ctrl.available(["1.0.0", "2.0.0"]) && ui.isPanelLoaded('${form}')`)
        .pca-form-column-6.pc-form-grid-row
            .pc-form-grid-col-60
                +dropdown('Swap space SPI:', `${swapModel}.kind`, '"swapSpaceSpi"', 'true', 'Choose swap SPI',
                    '::$ctrl.Clusters.swapSpaceSpis',
                    'Provides a mechanism in grid for storing data on disk<br/>\
                    Ignite cache uses swap space to overflow data to disk if it cannot fit in memory\
                    <ul>\
                        <li>File-based swap - File-based swap space SPI implementation which holds keys in memory</li>\
                        <li>Not set - File-based swap space SPI with default configuration when it needed</li>\
                    </ul>')
            .pc-form-group.pc-form-grid-row(ng-show=`${swapModel}.kind`)
                .pc-form-grid-col-60
                    +text('Base directory:', `${fileSwapModel}.baseDirectory`, '"baseDirectory"', 'false', 'swapspace',
                        'Base directory where to write files')
                .pc-form-grid-col-30
                    +sane-ignite-form-field-number({
                        label: 'Read stripe size:',
                        model: `${fileSwapModel}.readStripesNumber`,
                        name: '"readStripesNumber"',
                        placeholder: '{{ ::$ctrl.Clusters.swapSpaceSpi.readStripesNumber.default }}',
                        tip: 'Read stripe size defines number of file channels to be used concurrently'
                    })(
                        ui-validate=`{
                            powerOfTwo: '$ctrl.Clusters.swapSpaceSpi.readStripesNumber.customValidators.powerOfTwo($value)'
                        }`
                    )
                        +form-field-feedback('"readStripesNumber"', 'powerOfTwo', 'Read stripe size must be positive and power of two')
                .pc-form-grid-col-30
                    +number-min-max-step('Maximum sparsity:', `${fileSwapModel}.maximumSparsity`, '"maximumSparsity"', 'true', '0.5', '0', '0.999', '0.001',
                        'This property defines maximum acceptable wasted file space to whole file size ratio<br/>\
                        When this ratio becomes higher than specified number compacting thread starts working')
                .pc-form-grid-col-30
                    +number('Max write queue size:', `${fileSwapModel}.maxWriteQueueSize`, '"maxWriteQueueSize"', 'true', '1024 * 1024', '0',
                        'Max write queue size in bytes<br/>\
                        If there are more values are waiting for being written to disk then specified size, SPI will block on store operation')
                .pc-form-grid-col-30
                    +number('Write buffer size:', `${fileSwapModel}.writeBufferSize`, '"writeBufferSize"', 'true', '64 * 1024', '0',
                        'Write buffer size in bytes<br/>\
                        Write to disk occurs only when this buffer is full')
        .pca-form-column-6
            +preview-xml-java(model, 'clusterSwap')
