

.modal-dialog(ng-click='$event.stopPropagation()' )
    form.modal-content(
        name='$ctrl.form' novalidate
        ignite-loading='createUser'
        ignite-loading-text='{{::$ctrl.loadingText}}'
    )
        .modal-header
            h4.modal-title(translate='admin.createUserDialog.title')

            button.close(type='button' aria-label='Close' ng-click='$ctrl.close()')
                svg(ignite-icon="cross")
        .modal-body
            form-signup(
                outer-form='$ctrl.form'
                ng-model='$ctrl.data'
                server-error='$ctrl.serverError'
            )
        .modal-footer
            div
                button.btn-ignite.btn-ignite--link-success(
                    ng-click='$ctrl.close()'
                    translate='cancelButtonLabel'
                )
                button.btn-ignite.btn-ignite--success(
                    ng-click='$ctrl.createUser()'
                    translate='admin.createUserDialog.formActionButtonLabel'
                )
