

include /app/helpers/jade/mixins
include /app/configuration/mixins

-var form = 'mvcc'
-var model = '$ctrl.clonedCluster'

panel-collapsible(ng-show='$ctrl.available("2.7.0")' ng-form=form on-open=`ui.loadPanel('${form}')`)
    panel-title Multiversion concurrency control (MVCC)
    panel-description Multiversion concurrency control (MVCC) configuration.
    panel-content.pca-form-row(ng-if=`ui.isPanelLoaded('${form}')`)
        .pca-form-column-6.pc-form-grid-row
            .pc-form-grid-col-30
                +form-field__number({
                    label: 'Vacuum thread pool size:',
                    model: `${model}.mvccVacuumThreadCount`,
                    name: '"MvccVacuumThreadCount"',
                    placeholder: '2',
                    min: '0',
                    tip: 'Number of MVCC vacuum cleanup threads'
                })
            .pc-form-grid-col-30
                +form-field__number({
                    label: 'Vacuum intervals:',
                    model: `${model}.mvccVacuumFrequency`,
                    name: '"MvccVacuumFrequency"',
                    placeholder: '5000',
                    min: '0',
                    tip: 'Time interval between vacuum runs in ms'
                })
        .pca-form-column-6
            +preview-xml-java(model, 'clusterMvcc')
