

include /app/helpers/jade/mixins
include /app/configuration/mixins

-var form = 'concurrency'
-var model = '$ctrl.clonedCache'

panel-collapsible(ng-form=form on-open=`ui.loadPanel('${form}')`)
    panel-title Data Provider Caches
    panel-description
        | 设置数据提供者，可以选择多个.
    panel-content.pca-form-row(ng-if=`ui.isPanelLoaded('${form}')`)
        .pca-form-column-12.pc-form-grid-row
            .pc-form-grid-col-120
                .ignite-form-field
                    list-editable.pcb-caches-list(
                        ng-model='$ctrl.cacheDataProvider'
                        list-editable-one-way
                        on-item-change='$ctrl.changeCache($event)'
                        on-item-remove='$ctrl.removeCache($event)'
                        list-editable-cols='::$ctrl.cachesColDefs'
                        list-editable-cols-row-class='pc-form-grid-row pcb-row-no-margin'
                    )
                        list-editable-item-view                            
                            div {{ $item.source }}
                            div {{ $item.sourceCluster }}
                            div {{ $item.cacheMode }}
                            div {{ $item.atomicityMode }}
                            div {{ $item.amount }}
                        list-editable-item-edit
                                                             
                            div
                                +form-field__text({
                                    label: 'Name',
                                    model: '$item.name',
                                    name: '"name"',
                                    required: true
                                })(
                                    ignite-unique='$ctrl.shortCaches'
                                    ignite-unique-property='name'
                                    ignite-form-field-input-autofocus='true'
                                )
                                    +form-field__error({ error: 'igniteUnique', message: 'Cache name should be unqiue' })
                            div
                                +form-field__text({
                                    label: 'Cluster Name',
                                    model: '$item.clusterName',
                                    name: '"clusterName"',
                                    required: true
                                })   
                            
                            div
                                +form-field__cache-modes({
                                    label: 'Mode:',
                                    model: '$item.cacheMode',
                                    name: '"cacheMode"',
                                    placeholder: 'PARTITIONED'
                                })
                            div
                                +form-field__dropdown({
                                    label: 'Atomicity:',
                                    model: '$item.atomicityMode',
                                    name: '"atomicityMode"',
                                    placeholder: 'ATOMIC',
                                    options: '::$ctrl.Caches.atomicityModes'
                                })
                            div(ng-show='$ctrl.Caches.shouldShowCacheBackupsCount($item)')
                                +form-field__number({
                                    label: 'Backups:',
                                    model: '$item.backups',
                                    name: '"backups"',
                                    placeholder: '0',
                                    min: 0
                                })
                        list-editable-no-items
                            list-editable-add-item-button(
                                add-item='$ctrl.addCache()'
                                label-single='cache'
                                label-multiple='caches'
                            )

            

            
        
