//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

mixin ignite-form-field-number(label, model, name, disabled, required, placeholder, min, max, step, tip)
    -var errLbl = label.substring(0, label.length - 1)

    mixin form-field-input()
        input.form-control(
            id=`{{ ${name} }}Input`
            name=`{{ ${name} }}`
            placeholder=placeholder
            type='number'

            min=min ? min : '0'
            max=max ? max : '{{ Number.MAX_VALUE }}'
            step=step ? step : '1'

            ng-model=model

            ng-required=required && `${required}`
            ng-disabled=disabled && `${disabled}`
            expose-ignite-form-field-control='$input'
        )&attributes(attributes.attributes)

    .ignite-form-field
        +ignite-form-field__label(label, name, required, disabled)
            +tooltip(tip, tipOpts)
        .ignite-form-field__control
            .input-tip
                +form-field-input(attributes=attributes)
        .ignite-form-field__errors(
            ng-messages=`$input.$error`
            ng-show=`($input.$dirty || $input.$touched || $input.$submitted) && $input.$invalid`
        )
            if block
                block
            +form-field-feedback(name, 'required', `${errLbl} could not be empty`)
            +form-field-feedback(name, 'min', `${errLbl} is less than allowable minimum: ${min || 0}`)
            +form-field-feedback(name, 'max', `${errLbl} is more than allowable maximum: ${max}`)
            +form-field-feedback(name, 'number', `Only numbers are allowed`)
            +form-field-feedback(name, 'step', `${errLbl} step should be ${step || 1}`)

mixin sane-ignite-form-field-number({label, model, name, disabled = 'false', required = false, placeholder, min = '0', max, step = '1', tip})
    +ignite-form-field-number(label, model, name, disabled, required, placeholder, min, max, step, tip)&attributes(attributes)
        if block
            block