//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

mixin ignite-form-field-number(label, model, name, disabled, required, placeholder, min, max, step, tip)
    mixin form-field-input()
        input.form-control(
            id='{{ #{name} }}Input'
            name='{{ #{name} }}'
            placeholder=placeholder
            type='number'

            min=min ? min : '0'
            max=max ? max : '{{ Number.MAX_VALUE }}'
            step=step ? step : '1'

            data-ng-model=model

            data-ng-required=required && '#{required}'
            data-ng-disabled=disabled && '#{disabled}'
            data-ng-focus='tableReset()'

            data-ignite-form-panel-field=''
        )&attributes(attributes.attributes)

    .ignite-form-field
        +ignite-form-field__label(label, name, required)
        .ignite-form-field__control
            if tip
                i.tipField.icon-help(bs-tooltip='' data-title=tip)
            
            +form-field-feedback(name, 'required', 'This field could not be empty')
            +form-field-feedback(name, 'min', 'Value is less than allowable minimum: '+ min || 0)
            +form-field-feedback(name, 'max', 'Value is more than allowable maximum: '+ max)
            +form-field-feedback(name, 'number', 'Only numbers allowed')

            if block
                block

            .input-tip
                +form-field-input(attributes=attributes)
