//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

mixin form-field__number({ label, model, name, disabled, required, placeholder, tip, min, max, step = '1', postfix })
    -var errLbl = label[label.length - 1] === ':' ? label.substring(0, label.length - 1) : label

    .form-field.ignite-form-field
        +form-field__label({ label, name, required, disabled })
            +form-field__tooltip({ title: tip, options: tipOpts })

        .form-field__control(class=postfix && 'form-field__control--postfix' data-postfix=postfix)
            - attributes.type = 'number'
            - attributes.min = min ? min : '0'
            - attributes.max = max ? max : '{{ Number.MAX_VALUE }}'
            - attributes.step = step
            +form-field__input({ name, model, disabled, required, placeholder })(attributes=attributes)

        .form-field__errors(
            data-postfix=postfix
            ng-messages=`$input.$error`
            ng-show=`($input.$dirty || $input.$touched || $input.$submitted) && $input.$invalid`
        )
            if block
                block

            if required
                +form-field__error({ error: 'required', message: `${errLbl} could not be empty!` })

            +form-field__error({ error: 'min', message: `${errLbl} is less than allowable minimum: ${ min || 0 }`})

            +form-field__error({ error: 'max', message: `${errLbl} is more than allowable maximum: ${ max }`})

            +form-field__error({ error: 'step', message: `${errLbl} step should be ${step || 1}` })

            +form-field__error({ error: 'number', message: 'Only numbers allowed' })
