//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

include ../includes/controls

mixin chk(mdl, change, tip)
    input(type='checkbox' ng-model=mdl ng-change=change bs-tooltip='' data-title=tip data-placement='bottom')

.modal.center(role='dialog')
    .modal-dialog
        .modal-content(dw-loading='loadingMetadataFromDb' dw-loading-options='loadMeta.loadingOptions')
            #errors-container.modal-header.header
                button.close(ng-click='$hide()' aria-hidden='true') &times;
                h4.modal-title Load metadata from database
            .metadata-content(ng-show='loadMeta.action == "drivers"' style="margin-bottom: 256px;")
            .metadata-content(ng-show='loadMeta.action == "connect" && loadMeta.demo' style='margin-bottom: 141px')
                div(ng-if='demoConnection.db == "H2"')
                    label Demo description:
                    ul
                        li In-memory H2 database server will be started inside agent
                        li Database will be populated with sample tables
                        li You could test loading metadata using this demo database
                        li Click "Next" to continue
                div(ng-if='demoConnection.db != "H2"')
                    label Demo could not be started
                        ul
                            li Agent failed to resolve H2 database jar
                            li Copy h2-x.x.x.jar into agent '\jdbc-drivers' folder and try again
                            li Refer to agent README.txt for more information
            .metadata-content(ng-show='loadMeta.action == "connect" && !loadMeta.demo')
                form.form-horizontal(name='connectForm' novalidate)
                    .settings-row
                        label.col-xs-4.col-sm-2.col-md-2 Driver JAR:
                        .col-xs-8.col-sm-10.col-md-10
                            i.tipField.fa.fa-question-circle(bs-tooltip='' data-title='Select appropriate JAR with JDBC driver<br> To add another driver you need to place it into "/jdbc-drivers" folder of Ignite Web Agent<br> Refer to Ignite Web Agent README.txt for for more information')
                            .input-tip
                                button.select-toggle.form-control(id='jdbcDriverJar' bs-select ng-model='ui.selectedJdbcDriverJar' ng-class='{placeholder: !(jdbcDriverJars && jdbcDriverJars.length > 0)}' data-container='false' placeholder='Choose JDBC driver' bs-options='item.value as item.label for item in jdbcDriverJars')
                    .settings-row
                        label.col-xs-4.col-sm-2.col-md-2 JDBC Driver:
                        .col-xs-8.col-sm-10.col-md-10
                            i.tipField.fa.fa-question-circle(bs-tooltip='' data-title='Fully qualified class name of JDBC driver that will be used to connect to database')
                            .input-tip
                                input.form-control(id='jdbcDriverClass' type='text' ng-model='selectedPreset.jdbcDriverClass' placeholder='JDBC driver fully qualified class name' required=true)
                    .settings-row
                        label.col-xs-4.col-sm-2.col-md-2 JDBC URL:
                        .col-xs-8.col-sm-10.col-md-10
                            i.tipField.fa.fa-question-circle(bs-tooltip='' data-title='JDBC URL for connecting to database<br>Refer to your database documentation for details')
                            .input-tip
                                input.form-control(id='jdbcUrl' type='text' ng-model='selectedPreset.jdbcUrl' placeholder='JDBC URL' required=true)
                    .settings-row
                        label.col-xs-4.col-sm-2.col-md-2 User:
                        .col-xs-8.col-sm-10.col-md-10
                            i.tipField.fa.fa-question-circle(bs-tooltip='' data-title='User name for connecting to database')
                            .input-tip
                                input.form-control(id='user' type='text' ng-model='selectedPreset.user')
                    .settings-row
                        label.col-xs-4.col-sm-2.col-md-2 Password:
                        .col-xs-8.col-sm-10.col-md-10
                            i.tipField.fa.fa-question-circle(bs-tooltip='' data-title='Password for connecting to database<br>Note, password would not be saved in preferences for security reasons')
                            .input-tip
                                input.form-control(id='password' type='password' ng-model='selectedPreset.password' on-enter='loadMetadataNext()')
                    .settings-row
                        .checkbox
                            label
                                input(id='tablesOnly' type='checkbox' ng-model='selectedPreset.tablesOnly')
                                | Tables only
                            i.tipLabel.fa.fa-question-circle(bs-tooltip='' data-title='If selected, then only tables metadata will be parsed<br>Otherwise table and view metadata will be parsed')
            .metadata-content(ng-show='loadMeta.action == "schemas"')
                table.table.metadata(st-table='loadMeta.displayedSchemas' st-safe-src='loadMeta.schemas')
                    thead
                        tr
                            th.header(colspan='2')
                                .col-sm-4.pull-right
                                    input.form-control(type='text' st-search='name' placeholder='Filter schemas...' ng-model='loadMeta.displayedSchemasFilter' ng-change='selectSchema()')
                        tr
                            th(width='50px')
                                +chk('loadMeta.allSchemasSelected',  'selectAllSchemas()', 'Select all schemas')
                            th
                                label Schema
                        tbody
                            tr
                                td(colspan='2')
                                    .scrollable-y(style='height: 137px')
                                        table.table-modal-striped(id='metadataSchemaData')
                                            tbody
                                                tr(ng-repeat='schema in loadMeta.displayedSchemas')
                                                    td(width='50px')
                                                        input(type='checkbox' ng-model='schema.use' ng-change='selectSchema()')
                                                    td
                                                        label {{::schema.name}}
            .metadata-content(ng-show='loadMeta.action == "tables"')
                table.table.metadata(st-table='loadMeta.displayedTables' st-safe-src='loadMeta.tables')
                    thead
                        tr
                            th.header(colspan='3')
                                .col-sm-4.pull-right
                                    input.form-control(type='text' st-search='label' placeholder='Filter tables...' ng-model='loadMeta.displayedTablesFilter' ng-change='selectTable()')
                        tr
                            th(width='50px')
                                +chk('loadMeta.allTablesSelected',  'selectAllTables()', 'Select all tables')
                            th(width='200px')
                                label Schema
                            th
                                label Table name
                    tbody
                        tr
                            td(colspan='3')
                                .scrollable-y(style='height: 137px')
                                    table.table-modal-striped(id='metadataTableData')
                                        tbody
                                            tr(ng-repeat='table in loadMeta.displayedTables')
                                                td(width='50px')
                                                    input(type='checkbox' ng-model='table.use' ng-change='selectTable()')
                                                td(width='200px')
                                                    label {{::table.schema}}
                                                td
                                                    label {{::table.tbl}}
            .metadata-content(ng-show='loadMeta.action == "options"' style='margin-bottom: 75px')
                form.form-horizontal(name='optionsForm' novalidate)
                    .settings-row
                        .col-xs-3.col-sm-2.col-md-2.required
                            label.required Package:
                        .col-xs-9.col-sm-10.col-md-10
                            i.tipField.fa.fa-question-circle(bs-tooltip='' data-title='Package that will be used for POJOs generation')
                            .input-tip
                                input.form-control(id='metadataPackageName' type="text" ng-model='ui.packageName' placeholder='Package for POJOs generation')
                    .settings-row
                        .checkbox
                            label
                                input(id='metadataBuiltinKeys' type='checkbox' ng-model='ui.builtinKeys')
                                | Use Java built-in types for keys
                                i.tipLabel.fa.fa-question-circle(bs-tooltip='' data-title='Use Java built-in types like "Integer", "Long", "String" instead of POJO generation in case when table primary key contains only one field')
                    .settings-row
                        .checkbox
                            label
                                input(id='metadataUsePrimitives' type='checkbox' ng-model='ui.usePrimitives')
                                | Use primitive types for NON NULL table columns
                                i.tipLabel.fa.fa-question-circle(bs-tooltip='' data-title='Use primitive types like "int", "long", "double" for POJOs fields generation in case of NOT NULL columns')
                    .settings-row
                        .checkbox
                            label
                                input(id='metadataGenerateCaches' type='checkbox' ng-model='ui.generateCaches')
                                | Generate cache for each loaded table
                            i.tipLabel.fa.fa-question-circle(bs-tooltip='' data-title='Separate cache will be generated for each loaded table')
                    .settings-row
                        .col-xs-3.col-sm-2.col-md-2.required
                            label Clusters:
                        .col-xs-9.col-sm-10.col-md-10
                            i.tipField.fa.fa-question-circle(bs-tooltip='' data-title='Choose clusters that will be associated with generated caches')
                            .input-tip
                                button.select-toggle.form-control(id='metadataGeneratedCachesCluster' bs-select ng-model='ui.generatedCachesClusters' ng-disabled='!ui.generateCaches' ng-class='{placeholder: !(ui.generatedCachesClusters && ui.generatedCachesClusters.length > 0)}' data-container='false' data-multiple='1' placeholder='Choose clusters for generated caches' bs-options='item.value as item.label for item in clusters')
            .modal-footer
                label(ng-hide='loadMeta.action == "connect" && loadMeta.demo').labelField {{loadMeta.info}}
                button.btn.btn-primary(ng-show='loadMeta.action != "connect"' ng-click='loadMetadataPrev()') Prev
                a.btn.btn-primary(ng-click='loadMetadataNext()' ng-disabled='!nextAvailable()' bs-tooltip='' data-title='{{nextTooltipText()}}' data-placement='bottom') {{loadMeta.button}}
