//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

include /app/helpers/jade/mixins

-var discoveryKind = 'Kubernetes'
-var model = 'backupItem.discovery.Kubernetes'

div
    .details-row
        +text('Service name:', `${model}.serviceName`, `'${discoveryKind}ServiceName'`, 'false', 'ignite',
            "The name of Kubernetes service for Ignite pods' IP addresses lookup.<br/>\
            The name of the service must be equal to the name set in service's Kubernetes configuration.<br/>\
            If this parameter is not changed then the name of the service has to be set to 'ignite' in the corresponding Kubernetes configuration.")
    .details-row
        +text('Namespace:', `${model}.namespace`, `'${discoveryKind}Namespace'`, 'false', 'default',
            "The namespace the Kubernetes service belongs to.<br/>\
            By default, it's supposed that the service is running under Kubernetes `default` namespace.")
    .details-row
        +url('Kubernetes server:', `${model}.masterUrl`, `'${discoveryKind}MasterUrl'`, 'false', 'https://kubernetes.default.svc.cluster.local:443',
            'The host name of the Kubernetes API server')
    .details-row
        +text('Service token file:', `${model}.accountToken`, `'${discoveryKind}AccountToken'`, 'false', '/var/run/secrets/kubernetes.io/serviceaccount/token',
            'The path to the service token file')
