//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

include ../../../../../app/helpers/jade/mixins.jade

-var form = 'general'
-var model = 'backupItem'

form.panel.panel-default(name=form novalidate)
    .panel-heading(bs-collapse-toggle)
        ignite-form-panel-chevron
        label General
        ignite-form-revert
    .panel-collapse(role='tabpanel' bs-collapse-target id=form)
        .panel-body
            .col-sm-6
                .settings-row
                    +text('Name:', model + '.name', 'clusterName', 'true', 'Input name', 'Grid name')
                .settings-row
                    +dropdown-multiple('<span>Caches:</span><a ui-sref="base.configuration.caches({id: ' + model + '._id})"> (add)</a>',
                        model + '.caches', 'caches', 'true', 'Choose caches', 'No caches configured', 'caches',
                        'Select caches to start in cluster or add a new cache')
                .settings-row
                    +text-ip-address('Local host:', model + '.localHost', 'localHost', 'true', '0.0.0.0', 'System-wide local address or host for all Ignite components to bind to')
                .settings-row
                    +dropdown('Discovery:', model + '.discovery.kind', 'discovery', 'true', 'Choose discovery', 'discoveries',
                        'Discovery allows to discover remote nodes in grid\
                        <ul>\
                            <li>Static IPs - IP Finder which works only with pre configured list of IP addresses specified</li>\
                            <li>Multicast - Multicast based IP finder</li>\
                            <li>AWS S3 - AWS S3 based IP finder</li>\
                            <li>Apache jclouds - Apache jclouds multi cloud toolkit based IP finder</li>\
                            <li>Google cloud storage - Google Cloud Storage based IP finder</li>\
                            <li>JDBC - JDBC based IP finder</li>\
                            <li>Shared filesystem - Shared filesystem based IP finder</li>\
                            <li>Apache ZooKeeper - Apache ZooKeeper based IP finder</li>\
                        </ul>')
                .settings-row
                    .panel-details
                        ignite-configuration-clusters-general-discovery-cloud(
                            ng-if='#{model}.discovery.kind === "Cloud"')
                        ignite-configuration-clusters-general-discovery-google(
                            ng-if='#{model}.discovery.kind === "GoogleStorage"')
                        ignite-configuration-clusters-general-discovery-jdbc(
                            ng-if='#{model}.discovery.kind === "Jdbc"')
                        ignite-configuration-clusters-general-discovery-multicast(
                            ng-if='#{model}.discovery.kind === "Multicast"')
                        ignite-configuration-clusters-general-discovery-s3(
                            ng-if='#{model}.discovery.kind === "S3"')
                        ignite-configuration-clusters-general-discovery-shared(
                            ng-if='#{model}.discovery.kind === "SharedFs"')
                        ignite-configuration-clusters-general-discovery-vm(
                            ng-if='#{model}.discovery.kind === "Vm"')
                        ignite-configuration-clusters-general-discovery-zookeeper(
                            ng-if='#{model}.discovery.kind === "ZooKeeper"')
            .col-sm-6
                +preview-xml-java(model, 'clusterCaches', 'caches')
