//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

include /app/helpers/jade/mixins

web-console-header
    web-console-header-left
        ignite-header-title

section
    .container
        .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
                .row
                    .col-xs-12.col-md-11
                        -var form = '$ctrl.form_signup'
                        h3 Don't Have An Account?
                        form.ps-grid(name=form novalidate)
                            .ps-grid-full-width
                                +form-field__email({
                                    label: 'Email:',
                                    model: '$ctrl.data.signup.email',
                                    name: '"signupEmail"',
                                    placeholder: 'Input email',
                                    required: true
                                })(
                                    ignite-on-enter-focus-move='passwordInput'
                                    ng-model-options='{allowInvalid: true}'
                                )
                                    +form-field__error({error: 'server', message: `{{$ctrl.serverErrors.signup}}`})
                            div
                                +form-field__password({
                                    label: 'Password:',
                                    model: '$ctrl.data.signup.password',
                                    name: '"password"',
                                    placeholder: 'Input password',
                                    required: true
                                })(
                                    ignite-on-enter-focus-move='confirmInput'
                                )
                            div
                                +form-field__password({
                                    label: 'Confirm:',
                                    model: 'confirm',
                                    name: '"confirm"',
                                    placeholder: 'Confirm password',
                                    required: true
                                })(
                                    ignite-on-enter-focus-move='firstNameInput'
                                    ignite-match='$ctrl.data.signup.password'
                                )
                            div
                                +form-field__text({
                                    label: 'First name:',
                                    model: '$ctrl.data.signup.firstName',
                                    name: '"firstName"',
                                    placeholder: 'Input first name',
                                    required: true
                                })(
                                    ignite-on-enter-focus-move='lastNameInput'
                                )
                            div
                                +form-field__text({
                                    label: 'Last name:',
                                    model: '$ctrl.data.signup.lastName',
                                    name: '"lastName"',
                                    placeholder: 'Input last name',
                                    required: true
                                })(
                                    ignite-on-enter-focus-move='companyInput'
                                )
                            .ps-grid-full-width
                                +form-field__dropdown({
                                    label: 'Country:',
                                    model: '$ctrl.data.signup.country',
                                    name: '"country"',
                                    required: true,
                                    placeholder: 'Choose your country',
                                    options: '$ctrl.countries'
                                })(
                                    ignite-on-enter-focus-move='signup_submit'
                                )
                            .ps-grid-full-width
                                +form-field__text({
                                    label: 'Company:',
                                    model: '$ctrl.data.signup.company',
                                    name: '"company"',
                                    placeholder: 'Input company name',
                                    required: true
                                })(
                                    ignite-on-enter-focus-move='countryInput'
                                )
                            .login-footer.ps-grid-full-width
                                button#signup_submit.btn-ignite.btn-ignite--primary(
                                    ng-click='$ctrl.signup()'
                                    ng-disabled=`!$ctrl.canSubmitForm(${form})`
                                ) Sign Up

            .col-lg-6.col-md-6.col-sm-6.col-xs-12
                .row
                    .col-xs-12.col-md-11
                        -var form = '$ctrl.form_signin'
                        form.row(ng-show='$ctrl.isSigninOpened' name=form novalidate)
                            .settings-row
                                h3 Sign In
                            .settings-row
                                +form-field__email({
                                    label: 'Email:',
                                    model: '$ctrl.data.signin.email',
                                    name: '"signinEmail"',
                                    placeholder: 'Input email',
                                    required: true
                                })(
                                    ignite-auto-focus
                                    ignite-on-enter-focus-move='singinPasswordInput'
                                    ng-model-options='{allowInvalid: true}'
                                )
                                    +form-field__error({error: 'server', message: `{{$ctrl.serverErrors.signin}}`})
                            .settings-row
                                +form-field__password({
                                    label: 'Password:',
                                    model: '$ctrl.data.signin.password',
                                    name: '"signinPassword"',
                                    placeholder: 'Input password',
                                    required: true
                                })(
                                    ignite-on-enter='$ctrl.signin($ctrl.data.signin.email, $ctrl.data.signin.password)'
                                    ng-model-options='{allowInvalid: true}'
                                )
                                    +form-field__error({error: 'server', message: `{{$ctrl.serverErrors.signin}}`})
                            .login-footer
                                a.labelField#forgot_show(
                                    ng-click='$ctrl.toggleActiveForm()'
                                    ignite-on-click-focus='forgot_email'
                                ) Forgot password?
                                button#signin_submit.btn-ignite.btn-ignite--primary(
                                    ng-click='$ctrl.signin()'
                                    ng-disabled=`!$ctrl.canSubmitForm(${form})`
                                ) Sign In

                        - var form = '$ctrl.form_forgot'
                        form.row(ng-show='$ctrl.isRemindPasswordOpened' name=form novalidate)
                            .settings-row
                                h3 Forgot password?
                            .settings-row
                                p.col-xs-12.col-md-11 That's ok! Simply enter your email below and a reset password link will be sent to you via email. You can then follow that link and select a new password.
                            .settings-row
                                +form-field__email({
                                    label: 'Email:',
                                    model: '$ctrl.data.remindPassword.email',
                                    name: '"forgotEmail"',
                                    placeholder: 'Input email',
                                    required: true
                                })(
                                    ignite-auto-focus
                                    ng-model-options='{allowInvalid: true}'
                                    ignite-on-enter='$ctrl.remindPassword()'
                                )
                                    +form-field__error({error: 'server', message: `{{$ctrl.serverErrors.remindPassword}}`})
                            .login-footer
                                a.labelField#forgot_signin(
                                    ng-click='$ctrl.toggleActiveForm()'
                                    ignite-on-click-focus='signin_email'
                                ) Sign In
                                button#forgot_submit.btn-ignite.btn-ignite--primary(
                                    ng-click='$ctrl.remindPassword()'
                                    ng-disabled=`!$ctrl.canSubmitForm(${form})`
                                ) Send it to me

web-console-footer
