//-
    GridGain Community Edition Licensing
                      Copyright 2019 GridGain Systems, Inc.

    Licensed under the Apache License, Version 2.0 (the "License") modified with Commons Clause
    Restriction; you may not use this file except in compliance with the License. You may obtain a
    copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software distributed under the
    License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied. See the License for the specific language governing permissions
    and limitations under the License.

    Commons Clause Restriction

    The Software is provided to you by the Licensor under the License, as defined below, subject to
    the following condition.

    Without limiting other conditions in the License, the grant of rights under the License will not
    include, and the License does not grant to you, the right to Sell the Software.
    For purposes of the foregoing, “Sell” means practicing any or all of the rights granted to you
    under the License to provide to third parties, for a fee or other consideration (including without
    limitation fees for hosting or consulting/ support services related to the Software), a product or
    service whose value derives, entirely or substantially, from the functionality of the Software.
    Any license notice or attribution required by the License must also include this Commons Clause
    License Condition notice.

    For purposes of the clause above, the “Licensor” is Copyright 2019 GridGain Systems, Inc.,
    the “License” is the Apache License, Version 2.0, and the Software is the GridGain Community
    Edition software provided with this notice.

include /app/helpers/jade/mixins
include /app/configuration/mixins

-var form = 'logger'
-var model = '$ctrl.clonedCluster.logger'
-var kind = model + '.kind'

panel-collapsible(ng-form=form on-open=`ui.loadPanel('${form}')`)
    panel-title Logger configuration
    panel-description Logging functionality used throughout the system.
    panel-content.pca-form-row(ng-if=`ui.isPanelLoaded('${form}')`)
        .pca-form-column-6.pc-form-grid-row
            .pc-form-grid-col-60
                +form-field__dropdown({
                    label: 'Logger:',
                    model: kind,
                    name: '"logger"',
                    placeholder: 'Default',
                    options: '[\
                        {value: "Log4j", label: "Apache Log4j"},\
                        {value: "Log4j2", label: "Apache Log4j 2"},\
                        {value: "SLF4J", label: "Simple Logging Facade (SLF4J)"},\
                        {value: "Java", label: "Java logger (JUL)"},\
                        {value: "JCL", label: "Jakarta Commons Logging (JCL)"},\
                        {value: "Null", label: "Null logger"},\
                        {value: "Custom", label: "Custom"},\
                        {value: null, label: "Default"}\
                    ]',
                    tip: 'Logger implementations\
                       <ul>\
                           <li>Apache Log4j - log4j-based logger</li>\
                           <li>Apache Log4j 2 - Log4j2-based logger</li>\
                           <li>Simple Logging Facade (SLF4J) - SLF4j-based logger</li>\
                           <li>Java logger (JUL) - built in java logger</li>\
                           <li>Jakarta Commons Logging (JCL) - wraps any JCL (Jakarta Commons Logging) loggers</li>\
                           <li>Null logger - logger which does not output anything</li>\
                           <li>Custom - custom logger implementation</li>\
                           <li>Default - Apache Log4j if awailable on classpath or Java logger otherwise</li>\
                       </ul>'
                })
            .pc-form-group(ng-show=`${kind} && (${kind} === 'Log4j2' || ${kind} === 'Log4j' || ${kind} === 'Custom')`)
                .pc-form-grid-row(ng-show=`${kind} === 'Log4j2'`)
                    include ./logger/log4j2
                .pc-form-grid-row(ng-show=`${kind} === 'Log4j'`)
                    include ./logger/log4j
                .pc-form-grid-row(ng-show=`${kind} === 'Custom'`)
                    include ./logger/custom
        .pca-form-column-6
            -var model = '$ctrl.clonedCluster.logger'
            +preview-xml-java(model, 'clusterLogger')
