//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

include ../../../../../../../app/helpers/jade/mixins.jade

-var form = 'general'
-var model = 'backupItem.discovery.Multicast'
-var addresses = model + '.addresses'

div
    .details-row
        +text-ip-address('IP address:', form, model + '.multicastGroup', 'multicastGroup', 'true', '228.1.2.4', 'IP address of multicast group')
    .details-row
        +number-min-max('Port number:', model + '.multicastPort', 'multicastPort', 'true', '47400', '0', '65535', 'Port number which multicast messages are sent to')
    .details-row
        +number('Waits for reply:', model + '.responseWaitTime', 'responseWaitTime', 'true', '500', '0',
            'Time in milliseconds IP finder waits for reply to multicast address request')
    .details-row
        +number('Attempts count:', model + '.addressRequestAttempts', 'addressRequestAttempts', 'true', '2', '0',
            'Number of attempts to send multicast address request<br/>\
            IP finder re - sends request only in case if no reply for previous request is received')
    .details-row
        +text-ip-address('Local address:', form, model + '.localAddress', 'localAddress', 'true', '0.0.0.0',
            'Local host address used by this IP finder<br/>\
            If provided address is non - loopback then multicast socket is bound to this interface<br/>\
            If local address is not set or is any local address then IP finder creates multicast sockets for all found non - loopback addresses')
    .details-row
        -var form = 'discoveryMulticastAddresses';

        ignite-form-group(ng-model=addresses ng-form=form)
            -var uniqueTip = 'Such IP address already exists!'
            -var ipAddressTip = 'Invalid IP address!'

            ignite-form-field-label
                | Addresses
            ignite-form-group-tooltip
                | Addresses may be represented as follows:#[br]
                ul: li IP address (e.g. 127.0.0.1, 9.9.9.9, etc)
                    li IP address and port (e.g. 127.0.0.1:47500, 9.9.9.9:47501, etc)
                    li IP address and port range (e.g. 127.0.0.1:47500..47510, 9.9.9.9:47501..47504, etc)
                    li Hostname (e.g. host1.com, host2, etc)
                    li Hostname and port (e.g. host1.com:47500, host2:47502, etc)
                    li Hostname and port range (e.g. host1.com:47500..47510, host2:47502..47508, etc)
                | If port is 0 or not provided then default port will be used (depends on discovery SPI configuration)#[br]
                | If port range is provided (e.g. host:port1..port2) the following should be considered:#[br]
                ul: li port1 &lt; port2 should be true
                    li Both port1 and port2 should be greater than 0
            ignite-form-group-add(ng-click='group.add = [{}]')
                | Add new address

            .group-content(ng-if='#{addresses}.length')
                -var field = 'edit'
                -var valid = form + '.' + field + '.$valid'
                -var unique = form + '.' + field + '.$error.igniteUnique'
                -var ipaddress = form + '.' + field + '.$error.ipaddress'
                -var ipaddressPort = form + '.' + field + '.$error.ipaddressPort'
                -var ipaddressPortRange = form + '.' + field + '.$error.ipaddressPortRange'
                -var save = addresses + '[$index] = ' + field

                ignite-form-field(ng-repeat='model in #{addresses} track by $index' type='internal' name='Address')
                    .indexField
                        | {{ $index+1 }})
                    +table-remove-button(addresses, 'Remove address')

                    ignite-form-field-down(ng-if='!$last' ng-hide='field.edit' data-ng-model='model' data-models=addresses)
                    ignite-form-field-up(ng-if='!$first' ng-hide='field.edit' data-ng-model='model' data-models=addresses)

                    span(ng-hide='field.edit')
                        a.labelFormField(ng-click='field.edit = true') {{ model }}
                    span(ng-if='field.edit' ng-init='#{field} = model')
                        +table-address-field(field, addresses, valid, save, false)
                            +table-save-button(valid, save, false)
                            +unique-feedback(unique, uniqueTip)
                            +ipaddress-feedback(ipaddress)
                            +ipaddress-port-feedback(ipaddressPort)
                            +ipaddress-port-range-feedback(ipaddressPortRange)

            .group-content(ng-repeat='field in group.add')
                -var field = 'new'
                -var valid = form + '.' + field + '.$valid'
                -var unique = form + '.' + field + '.$error.igniteUnique'
                -var ipaddress = form + '.' + field + '.$error.ipaddress'
                -var ipaddressPort = form + '.' + field + '.$error.ipaddressPort'
                -var ipaddressPortRange = form + '.' + field + '.$error.ipaddressPortRange'
                -var save = addresses + '.push(' + field + ')'

                ignite-form-field(type='internal' name='Address')
                    +table-address-field(field, addresses, valid, save, true)
                        +table-save-button(valid, save, true)
                        +unique-feedback(unique, uniqueTip)
                        +ipaddress-feedback(ipaddress)
                        +ipaddress-port-feedback(ipaddressPort)
                        +ipaddress-port-range-feedback(ipaddressPortRange)

            .group-content-empty(ng-if='!(#{addresses}.length) && !group.add.length')
                | Not defined
