//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

mixin form-field__datepicker({ label, model, name, mindate, maxdate, minview = 1, format = 'MMM yyyy', disabled, required, placeholder, tip })
    mixin __form-field__datepicker()
        input(
            id=`{{ ${name} }}Input`
            name=`{{ ${name} }}`

            placeholder=placeholder
            
            ng-model=model

            ng-required=required && `${required}`
            ng-disabled=disabled && `${disabled}`

            bs-datepicker

            data-min-date=mindate ? `{{ ${mindate} }}` : false
            data-max-date=maxdate ? `{{ ${maxdate} }}` : `today`

            data-min-view=minview
            data-date-format=format
            data-start-view=minview

            data-placement='bottom'
            data-container='.ignite-form-field'

            tabindex='0'

            onkeydown='return false',
            expose-ignite-form-field-control='$input'
        )&attributes(attributes.attributes)

    .form-field.form-field__datepicker.ignite-form-field(id=`{{ ${name} }}Field`)
        +form-field__label({ label, name, required, disabled })
            +form-field__tooltip({ title: tip, options: tipOpts })

        .form-field__control
            - attributes.type='button'
            +__form-field__datepicker(attributes=attributes)

        .form-field__errors(
            ng-messages=`$input.$error`
            ng-show=`($input.$dirty || $input.$touched || $input.$submitted) && $input.$invalid`
        )
            if block
                block

            if required
                +form-field__error({ error: 'required', message: `${errLbl} could not be empty!` })
