//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

include /app/helpers/jade/mixins

-var form = 'nodeFilter'
-var model = '$ctrl.clonedCache'
-var nodeFilter = model + '.nodeFilter';
-var nodeFilterKind = nodeFilter + '.kind';
-var igfsFilter = nodeFilterKind + ' === "IGFS"'
-var customFilter = nodeFilterKind + ' === "Custom"'

panel-collapsible(ng-form=form on-open=`ui.loadPanel('${form}')`)
    panel-title Node filter
    panel-description Determines on what nodes the cache should be started.
    panel-content.pca-form-row(ng-if=`ui.isPanelLoaded('${form}')`)
        .pca-form-column-6.pc-form-grid-row
            .pc-form-grid-col-60
                +dropdown('Node filter:', nodeFilterKind, '"nodeFilter"', 'true', 'Not set', '::$ctrl.Caches.nodeFilterKinds', 'Node filter variant')
            .pc-form-grid-col-60(
                ng-if=igfsFilter
            )
                +form-field__dropdown({
                    label: 'IGFS:',
                    model: `${nodeFilter}.IGFS.igfs`,
                    name: '"igfsNodeFilter"',
                    required: true,
                    placeholder: 'Choose IGFS',
                    placeholderEmpty: 'No IGFS configured',
                    options: '$ctrl.igfssMenu',
                    tip: 'Select IGFS to filter nodes'
                })(
                    pc-is-in-collection='$ctrl.igfsIDs'
                )
                    +form-field__error({ error: 'isInCollection',  message: `Cluster doesn't have such an IGFS` })
            .pc-form-grid-col-60(ng-show=customFilter)
                +java-class('Class name:', `${nodeFilter}.Custom.className`, '"customNodeFilter"',
                    'true', customFilter, 'Class name of custom node filter implementation', customFilter)
        .pca-form-column-6
            +preview-xml-java(model, 'cacheNodeFilter', 'igfss')
