
.pca-form-row
    .pca-form-column-6.pc-form-grid-row
        .pc-form-grid-col-30
            +form-field__text({
                label: 'Storage Name:',
                model: `${model}.id`,
                name: '"id"',
                placeholder: ''
            })

        .pc-form-grid-col-30
            +form-field__text({
                label: 'Display Name:',
                model: `${model}.clusterName`,
                name: '"clusterName"',
                placeholder: ''
            })

        .pc-form-grid-col-30
            +form-field__text({
                label: 'Storage URL:',
                model: `${model}.url`,
                name: '"url"',                        
                placeholder: 's3://'
            })
         
        .pc-form-grid-col-30
            +form-field__dropdown({
                label: 'Storage Access Mode:',
                model: `${model}.accessMode`,
                name: '"accessMode"',
                placeholder: 's3-rest',
                options: '[\
                    {value: "s3-rest", label: "s3-rest"},\
                    {value: "files", label: "ignite filesystem"},\
                    {value: "logs", label: "ignite logs"},\
                ]',
                tip: 'Object storage access mode'
            })
            
        .pc-form-grid-col-30
            +form-field__text({
                label: 'Default Bucket:',
                model: `${model}.bucketName`,
                name: '"bucketName"',
                placeholder: 'public'
            })

        .pc-form-grid-col-30
            +form-field__text({
                label: 'Ping status:',
                model: `${model}.status`,
                name: '"status"',
                placeholder: 'no ping'
            })
            
        .pc-form-grid-col-30
            +form-field__text({
                label: 'User name:',
                model: `${model}.userName`,
                name: '"userName"'
            })
            
        .pc-form-grid-col-30
            +form-field__password({
                label: 'Password:',
                model: `${model}.password`,
                name: '"password"'
            })