


div.help-menu__trigger(
    ng-click='$event.stopPropagation()'
    bs-dropdown='$ctrl.items'
    data-placement='bottom-right'
    data-trigger='hover focus'
    data-container='self'
) 
    span Help
    span.caret