//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

//- IGNITE-5271 Ilya Borisov: ignite-form-field-number did not provide all required features, so it had to be
//- copied and modified
mixin pcb-form-field-size(label, model, name, disabled, required, placeholder, min, max, step, tip)
    mixin pcb-form-field-feedback(form, name, error, message)
        -var __field = `${form}[${name}]`
        -var __error = `${__field}.$error.${error}`
        -var __pristine = `${__field}.$pristine`

        i.fa.fa-exclamation-triangle.form-field-feedback(
            ng-if=`!${__pristine} && ${__error}`
            name=`{{ ${name} }}`

            bs-tooltip=''
            data-title=message

            ignite-error=error
            ignite-error-message=message
            ignite-restore-input-focus
        )

    mixin pcb-form-field-input()
        input.form-control(
            id=`{{ ${name} }}Input`
            name=`{{ ${name} }}`
            placeholder=placeholder
            type='number'

            min=min ? min : '0'
            max=max ? max : '{{ Number.MAX_VALUE }}'
            step=step ? step : '1'

            data-ng-model=model

            data-ng-required=required && `${required}`
            data-ng-disabled=disabled && `${disabled}`
            data-ng-focus='tableReset()'

            data-ignite-form-panel-field=''
        )&attributes(attributes.attributes)

    .ignite-form-field.pcb-form-field-size
        +ignite-form-field__label(label, name, required)
        .ignite-form-field__control
            +tooltip(tip, tipOpts)
            
            +pcb-form-field-feedback(form, name, 'required', 'This field could not be empty')
            +pcb-form-field-feedback(form, name, 'min', `Value is less than allowable minimum: ${min}`)
            +pcb-form-field-feedback(form, name, 'max', `Value is more than allowable maximum: ${max}`)
            +pcb-form-field-feedback(form, name, 'number', 'Only numbers allowed')

            .input-tip
                +pcb-form-field-input(attributes=attributes)
                if block
                    block
