//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

include /app/helpers/jade/mixins

-var model = '$ctrl.clonedCluster.collision.JobStealing'
-var stealingAttributes = `${model}.stealingAttributes`

.pc-form-grid-col-30
    +number('Active jobs threshold:', `${model}.activeJobsThreshold`, '"jsActiveJobsThreshold"', 'true', '95', '0',
        'Number of jobs that can be executed in parallel')
.pc-form-grid-col-30
    +number('Wait jobs threshold:', `${model}.waitJobsThreshold`, '"jsWaitJobsThreshold"', 'true', '0', '0',
        'Job count threshold at which this node will start stealing jobs from other nodes')
.pc-form-grid-col-30
    +number('Message expire time:', `${model}.messageExpireTime`, '"jsMessageExpireTime"', 'true', '1000', '1',
        'Message expire time in ms')
.pc-form-grid-col-30
    +number('Maximum stealing attempts:', `${model}.maximumStealingAttempts`, '"jsMaximumStealingAttempts"', 'true', '5', '1',
        'Maximum number of attempts to steal job by another node')
.pc-form-grid-col-60
    +checkbox('Stealing enabled', `${model}.stealingEnabled`, '"jsStealingEnabled"',
        'Node should attempt to steal jobs from other nodes')
.pc-form-grid-col-60
    +java-class('External listener:', `${model}.externalCollisionListener`, '"jsExternalCollisionListener"', 'true', 'false',
        'Listener to be set for notification of external collision events', '$ctrl.clonedCluster.collision.kind === "JobStealing"')
.pc-form-grid-col-60
    .ignite-form-field
        +form-field__label({ label: 'Stealing attributes:', name: '"stealingAttributes"' })
            +form-field__tooltip(`Configuration parameter to enable stealing to/from only nodes that have these attributes set`)
        +list-pair-edit({
            items: stealingAttributes,
            keyLbl: 'Attribute name', 
            valLbl: 'Attribute value',
            itemName: 'stealing attribute',
            itemsName: 'stealing attributes'
        })
