//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

header.header-with-selector
    div
        h1 {{ $ctrl.clusterName$|async:this }}
        version-picker
    div
        button-import-models(cluster-id='$ctrl.clusterID$|async:this')

div.pc-content-container
    ul.tabs.tabs--blue
        li(role='presentation' ui-sref-active='active')
            a(ui-sref='base.configuration.edit.basic') Basic
        li(role='presentation' ui-sref-active='{active: "base.configuration.edit.advanced"}')
            a(ui-sref='base.configuration.edit.advanced.cluster') Advanced

    label.pc-tooltips-toggle.switcher--ignite
        svg.icon-left(
            ignite-icon='info'
            bs-tooltip=''
            data-title='This setting is needed to hide and show tooltips with hints.'
            data-placement='left'
        )
        span Tooltips
        input(type='checkbox' ng-model='$ctrl.tooltipsVisible')
        div

    ui-view.theme--ignite(
        ignite-loading='configuration'
        ignite-loading-text='{{ $ctrl.loadingText }}'
        ignite-loading-position='top'
        ng-class=`{
            'pc-hide-tooltips': !$ctrl.tooltipsVisible
        }`
    )