mixin feedback(error, message)
    i.fa.fa-exclamation-triangle.form-control-feedback(
        ng-show='!form.$pristine && form[name].$error.#{error}'
        bs-tooltip
        data-title='#{message}'
    )

div
    ignite-form-field-input-text(
        data-id='{{ id }}'
        data-name='{{ name }}'
        data-placeholder='Enter fully qualified class name'

        data-ng-model='ngModel'
        data-ng-required='required || false'

        data-java-keywords='true'
        data-java-identifier='true'
        data-java-package-specified='true'
        data-java-build-in-class='true'
        
        data-ignite-form-field-input-autofocus='autofocus || false '

        on-enter='onEnter()'
        data-ng-blur='ngBlur()'
    )
        span(ng-transclude)

        +feedback('javaIdentifier', 'Trust manager is invalid!')
        +feedback('required', 'Trust manager could not be empty!')
        +feedback('javaKeywords', 'Trust manager could not contains reserved java keyword: ""!')
        +feedback('javaBuildInClass', 'Trust manager should not be the Java build-in class!')
        +feedback('javaPackageSpecified', 'Trust manager does not have package specified!')