mixin feedback(field, error, message)
    i.fa.fa-exclamation-triangle.form-control-feedback(
        ng-show='!form.$pristine && form.#{field}.$error.#{error}'
        bs-tooltip
        data-title='#{message}'
    )

ignite-form-field-input-text(
    data-name='field'
    data-ng-model='field'
    data-placeholder='Enter fully qualified class name'
    data-java-keywords='true'
    data-java-identifier='true'
    data-java-package-specified='true'
    data-java-build-in-class='true'
    data-ng-required='true'
    data-ignite-form-field-input-autofocus='true'
    on-enter='onEnter()'
    ng-blur='ngBlur()'
)
    span(ng-transclude)

    +feedback('field', 'javaIdentifier', 'Trust manager is invalid!')
    +feedback('field', 'required', 'Trust manager could not be empty!')
    +feedback('field', 'javaKeywords', 'Trust manager could not contains reserved java keyword: ""!')
    +feedback('field', 'javaBuildInClass', 'Trust manager should not be the Java build-in class!')
    +feedback('field', 'javaPackageSpecified', 'Trust manager does not have package specified!')