mixin feedback(error, message)
    i.fa.fa-exclamation-triangle.form-control-feedback(
        ng-init='form[name].$errorMessages.#{error} = label.name + "#{message}"'
        ng-if='!form[name].$pristine && form[name].$error.#{error}'
        bs-tooltip='"{{ label.name }}#{message}"'
    )

div
    ignite-form-field-input-text(
        data-id='{{ id }}'
        data-name='{{ name }}'
        data-placeholder='Enter fully qualified class name'

        data-ng-model='ngModel'
        data-ng-required='required || false'
        data-ng-disabled='disabled || false'

        data-java-keywords='true'
        data-java-identifier='true'
        data-java-package-specified='true'
        data-java-built-in-class='true'
        
        data-ignite-unique='unique'
        data-ignite-form-field-input-autofocus='autofocus || false '

        on-enter='onEnter()'
        on-escape='onEscape()'
        data-ng-blur='ngBlur()'
    )
        span(ng-transclude)

        +feedback('javaIdentifier', ' is invalid Java identifier!')
        +feedback('required', ' could not be empty!')
        +feedback('javaKeywords', ' could not contains reserved Java keyword!')
        +feedback('javaBuiltInClass', ' should not be the Java built-in class!')
        +feedback('javaPackageSpecified', ' does not have package specified!')
