//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

include /app/helpers/jade/mixins.jade

-var form = 'nodeFilter'
-var model = 'backupItem'

.panel.panel-default(ng-form=form novalidate)
    .panel-heading(bs-collapse-toggle='' ng-click='ui.loadPanel("#{form}")')
        ignite-form-panel-chevron
        label(id='nodeFilter-title') Node filter
        ignite-form-field-tooltip.tipLabel
            | Determines on what nodes the cache should be started
        ignite-form-revert
    .panel-collapse(role='tabpanel' bs-collapse-target id=form)
        .panel-body(ng-if='ui.isPanelLoaded("#{form}")')
            .col-sm-6
                .settings-row
                    -var nodeFilter = model + '.nodeFilter';
                    -var nodeFilterKind = nodeFilter + '.kind';

                    +dropdown('Node filter:', nodeFilterKind, '"nodeFilter"', 'true', 'Not set',
                        '[\
                            {value: "IGFS", label: "IGFS nodes"},\
                            {value: "Custom", label: "Custom"},\
                            {value: undefined, label: "Not set"}\
                        ]',
                        'Node filter variant'
                    )
                .settings-row(ng-show=nodeFilterKind)
                    div(ng-show='#{nodeFilterKind} === "IGFS"')
                        -var igfsNodeFilter = nodeFilter + '.IGFS'
                        -var required = nodeFilterKind + ' === "IGFS"'

                        //(lbl, model, name, enabled, required, placeholder, options, tip)
                        +dropdown-required-empty('IGFS:', igfsNodeFilter + '.igfs', '"igfsNodeFilter"', 'true', required,
                            'Choose IGFS', 'No IGFS configured', 'igfss', 'Select IGFS to filter nodes')
                    div(ng-show='#{nodeFilterKind} === "Custom"')
                        -var customNodeFilter = nodeFilter + '.Custom'
                        -var required = nodeFilterKind + ' === "Custom"'

                        +java-class('Class name:', customNodeFilter + '.className', '"customNodeFilter"',
                            'true', required, 'Class name of custom node filter implementation', required)
            .col-sm-6
                +preview-xml-java(model, 'cacheNodeFilter', 'igfss')
