//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

include /app/helpers/jade/mixins.jade

-var form = 'checkpoint'
-var model = 'backupItem.checkpointSpi'
-var CustomCheckpoint = 'model.kind === "Custom"'
-var CacheCheckpoint = 'model.kind === "Cache"'

.panel.panel-default(ng-form=form novalidate)
    .panel-heading(bs-collapse-toggle ng-click='ui.loadPanel("#{form}")')
        ignite-form-panel-chevron
        label Checkpointing
        ignite-form-field-tooltip.tipLabel
            | Checkpointing provides an ability to save an intermediate job state#[br]
            | #[a(href="http://apacheignite.readme.io/docs/checkpointing" target="_blank") More info]
        ignite-form-revert
    .panel-collapse(role='tabpanel' bs-collapse-target id=form)
        .panel-body(ng-if='ui.isPanelLoaded("#{form}")')
            .col-sm-6
                .settings-row(ng-init='checkpointSpiTbl={type: "checkpointSpi", model: "checkpointSpi", focusId: "kind", ui: "checkpoint-table"}')
                    +ignite-form-group()
                        ignite-form-field-label
                            | Checkpoint SPI configurations
                        ignite-form-group-tooltip
                            | Checkpoint SPI configurations
                        ignite-form-group-add(ng-click='tableNewItem(checkpointSpiTbl)')
                            | Add checkpoint SPI
                        .group-content-empty(ng-if='!(#{model} && #{model}.length > 0)')
                            | Not defined
                        .group-content(ng-show='#{model} && #{model}.length > 0' ng-repeat='model in #{model} track by $index')
                            hr(ng-if='$index != 0')
                            .settings-row
                                +dropdown-required-autofocus('Checkpoint SPI:', 'model.kind', '"checkpointKind" + $index', 'true', 'true', 'Choose checkpoint configuration variant', '[\
                                        {value: "FS", label: "File System"},\
                                        {value: "Cache", label: "Cache"},\
                                        {value: "S3", label: "Amazon S3"},\
                                        {value: "JDBC", label: "Database"},\
                                        {value: "Custom", label: "Custom"}\
                                    ]',
                                    'Provides an ability to save an intermediate job state\
                                    <ul>\
                                        <li>File System - Uses a shared file system to store checkpoints</li>\
                                        <li>Cache - Uses a cache to store checkpoints</li>\
                                        <li>Amazon S3 - Uses Amazon S3 to store checkpoints</li>\
                                        <li>Database - Uses a database to store checkpoints</li>\
                                        <li>Custom - Custom checkpoint SPI implementation</li>\
                                    </ul>')
                                    +table-remove-button(model, 'Remove Checkpoint SPI')

                            div(ng-show='model.kind === "FS"')
                                include ./checkpoint/fs.jade

                            div(ng-show=CacheCheckpoint)
                                .settings-row
                                    +dropdown-required-empty('Cache:', 'model.Cache.cache', '"checkpointCacheCache"+ $index', 'true', CacheCheckpoint,
                                        'Choose cache', 'No caches configured for current cluster', 'clusterCaches', 'Cache to use for storing checkpoints')
                                .settings-row
                                    +java-class('Listener:', 'model.Cache.checkpointListener', '"checkpointCacheListener" + $index', 'true', 'false',
                                        'Checkpoint listener implementation class name', CacheCheckpoint)

                            div(ng-show='model.kind === "S3"')
                                include ./checkpoint/s3.jade

                            div(ng-show='model.kind === "JDBC"')
                                include ./checkpoint/jdbc.jade

                            .settings-row(ng-show=CustomCheckpoint)
                                +java-class('Class name:', 'model.Custom.className', '"checkpointCustomClassName" + $index', 'true', CustomCheckpoint,
                                'Custom CheckpointSpi implementation class', CustomCheckpoint)
            .col-sm-6
                +preview-xml-java('backupItem', 'clusterCheckpoint', 'caches')
