//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

include ../../../../../app/helpers/jade/mixins.jade

-var form = 'collision'
-var model = 'backupItem.collision'
-var modelCollisionKind = model + '.kind';

.panel.panel-default(ng-form=form novalidate)
    .panel-heading(bs-collapse-toggle ng-click='ui.loadPanel("#{form}")')
        ignite-form-panel-chevron
        label Collision configuration
        ignite-form-field-tooltip.tipLabel
            | Configuration Collision SPI allows to regulate how grid jobs get executed when they arrive on a destination node for execution
        ignite-form-revert
    .panel-collapse(role='tabpanel' bs-collapse-target id=form)
        .panel-body(ng-if='ui.isPanelLoaded("#{form}")')
            .col-sm-6
                .settings-row
                    +dropdown('CollisionSpi:', modelCollisionKind, '"collisionKind"', 'true', '',
                        '[\
                            {value: "JobStealing", label: "Job stealing"},\
                            {value: "FifoQueue", label: "FIFO queue"},\
                            {value: "PriorityQueue", label: "Priority queue"},\
                            {value: "Custom", label: "Custom"},\
                            {value: "Noop", label: "Default"}\
                        ]',
                        'Regulate how grid jobs get executed when they arrive on a destination node for execution\
                        <ul>\
                            <li>Job stealing - supports job stealing from over-utilized nodes to under-utilized nodes</li>\
                            <li>FIFO queue - jobs are ordered as they arrived</li>\
                            <li>Priority queue - jobs are first ordered by their priority</li>\
                            <li>Custom - custom CollisionSpi implementation</li>\
                            <li>Default - jobs are activated immediately on arrival to mapped node</li>\
                        </ul>')
                .settings-row(ng-show='#{modelCollisionKind} !== "Noop"')
                    .panel-details
                        div(ng-show='#{modelCollisionKind} === "JobStealing"')
                            include ./collision/job-stealing.jade
                        div(ng-show='#{modelCollisionKind} === "FifoQueue"')
                            include ./collision/fifo-queue.jade
                        div(ng-show='#{modelCollisionKind} === "PriorityQueue"')
                            include ./collision/priority-queue.jade
                        div(ng-show='#{modelCollisionKind} === "Custom"')
                            include ./collision/custom.jade
            .col-sm-6
                -var model = 'backupItem.collision'
                +preview-xml-java(model, 'clusterCollision')
