//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

include ../../../../../app/helpers/jade/mixins.jade

-var form = 'marshaller'
-var model = 'backupItem'
-var marshaller = model + '.marshaller'
-var optMarshaller = marshaller + '.OptimizedMarshaller'

.panel.panel-default(ng-form=form novalidate)
    .panel-heading(bs-collapse-toggle ng-click='ui.loadPanel("#{form}")')
        ignite-form-panel-chevron
        label Marshaller
        ignite-form-field-tooltip.tipLabel
            | Marshaller allows to marshal or unmarshal objects in grid#[br]
            | It provides serialization/deserialization mechanism for all instances that are sent across networks or are otherwise serialized
            | By default BinaryMarshaller will be used
        ignite-form-revert
    .panel-collapse(role='tabpanel' bs-collapse-target id=form)
        .panel-body(ng-if='ui.isPanelLoaded("#{form}")')
            .col-sm-6
                .settings-row
                    +dropdown('Marshaller:', marshaller + '.kind', '"kind"', 'true', 'Choose marshaller',
                        '[\
                            {value: "OptimizedMarshaller", label: "OptimizedMarshaller"},\
                            {value: "JdkMarshaller", label: "JdkMarshaller"},\
                            {value: undefined, label: "Not set"}\
                        ]',
                        'Instance of marshaller to use in grid<br/>\
                        <ul>\
                            <li>OptimizedMarshaller - Optimized implementation of marshaller</li>\
                            <li>JdkMarshaller - Marshaller based on JDK serialization mechanism</li>\
                            <li>Not set - BinaryMarshaller serialize and deserialize all objects in the binary format</li>\
                        </ul>')
                    a.customize(
                        ng-if='#{marshaller}.kind && #{marshaller}.kind === "OptimizedMarshaller"'
                        ng-click='#{marshaller}.expanded = !#{marshaller}.expanded'
                    ) {{ #{marshaller}.expanded ? "Hide settings" : "Show settings"}}
                .settings-row
                    .panel-details(ng-show='#{marshaller}.expanded && #{marshaller}.kind === "OptimizedMarshaller"')
                        .details-row
                            +number('Streams pool size:', optMarshaller + '.poolSize', '"poolSize"', 'true', '0', '0',
                                'Specifies size of cached object streams used by marshaller<br/>\
                                Object streams are cached for performance reason to avoid costly recreation for every serialization routine<br/>\
                                If 0 (default), pool is not used and each thread has its own cached object stream which it keeps reusing<br/>\
                                Since each stream has an internal buffer, creating a stream for each thread can lead to high memory consumption if many large messages are marshalled or unmarshalled concurrently<br/>\
                                Consider using pool in this case. This will limit number of streams that can be created and, therefore, decrease memory consumption<br/>\
                                NOTE: Using streams pool can decrease performance since streams will be shared between different threads which will lead to more frequent context switching')
                        .details-row
                            +checkbox('Require serializable', optMarshaller + '.requireSerializable', '"requireSerializable"',
                                'Whether marshaller should require Serializable interface or not')
                .settings-row
                    +checkbox('Marshal local jobs', model + '.marshalLocalJobs', '"marshalLocalJobs"', 'If this flag is enabled, jobs mapped to local node will be marshalled as if it was remote node')
                .settings-row
                    +number('Keep alive time:', model + '.marshallerCacheKeepAliveTime', '"marshallerCacheKeepAliveTime"', 'true', '10000', '0',
                        'Keep alive time of thread pool that is in charge of processing marshaller messages')
                .settings-row
                    +number('Pool size:', model + '.marshallerCacheThreadPoolSize', '"marshallerCacheThreadPoolSize"', 'true', 'max(8, availableProcessors) * 2', '1',
                        'Default size of thread pool that is in charge of processing marshaller messages')
            .col-sm-6
                +preview-xml-java(model, 'clusterMarshaller')
