//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

include /app/helpers/jade/mixins.jade

-var form = 'sslConfiguration'
-var cluster = 'backupItem'
-var enabled = 'backupItem.sslEnabled'
-var model = cluster + '.sslContextFactory'
-var trust = model + '.trustManagers'

.panel.panel-default(ng-form=form novalidate)
    .panel-heading(bs-collapse-toggle ng-click='ui.loadPanel("#{form}")')
        ignite-form-panel-chevron
        label(id='sslConfiguration-title') SSL configuration
        ignite-form-field-tooltip.tipLabel
            | Settings for SSL configuration for creating a secure socket layer#[br]
            | #[a(href="https://apacheignite.readme.io/docs/ssltls" target="_blank") More info]
        ignite-form-revert
    .panel-collapse(role='tabpanel' bs-collapse-target id=form)
        .panel-body(ng-if='ui.isPanelLoaded("#{form}")')
            .col-sm-6
                .settings-row
                    +checkbox('Enabled', enabled, '"sslEnabled"', 'Flag indicating whether to configure SSL configuration')
                .settings-row
                    +text-options('Algorithm to create a key manager:', model + '.keyAlgorithm', '"keyAlgorithm"', '["SumX509", "X509"]', enabled, 'false', 'SumX509',
                        'Sets key manager algorithm that will be used to create a key manager<br/>\
                        Notice that in most cased default value suites well, however, on Android platform this value need to be set to X509')
                .settings-row
                    +text-enabled('Key store file:', model + '.keyStoreFilePath', '"keyStoreFilePath"', enabled, enabled, 'Path to the key store file',
                        'Path to the key store file<br/>\
                        This is a mandatory parameter since ssl context could not be initialized without key manager')
                .settings-row
                    +text-options('Key store type:', model + '.keyStoreType', '"keyStoreType"', '["JKS", "PCKS11", "PCKS12"]', enabled, 'false', 'JKS',
                        'Key store type used in context initialization')
                .settings-row
                    +text-options('Protocol:', model + '.protocol', '"protocol"', '["TSL", "SSL"]', enabled, 'false', 'TSL', 'Protocol for secure transport')
                .settings-row
                    -var form = 'trustManagers'

                    +ignite-form-group(ng-form=form ng-model=trust)
                        -var uniqueTip = 'Such trust manager already exists!'

                        ignite-form-field-label
                            | Trust managers
                        ignite-form-group-tooltip
                            | Pre-configured trust managers
                        ignite-form-group-add(ng-show='#{enabled}' ng-click='(group.add = [{}])')
                            | Add new trust manager

                        .group-content(ng-if='#{trust}.length')
                            -var model = 'obj.model';
                            -var name = '"edit" + $index'
                            -var valid = form + '[' + name + '].$valid'
                            -var save = trust + '[$index] = ' + model
                
                            div(ng-show=enabled)
                                div(ng-repeat='model in #{trust} track by $index' ng-init='obj = {}')
                                    label.col-xs-12.col-sm-12.col-md-12
                                        .indexField
                                            | {{ $index+1 }})
                                        +table-remove-conditional-button(trust, enabled, 'Remove trust manager', 'model')
                                        span(ng-hide='field.edit')
                                            a.labelFormField(ng-click='#{enabled} && (field.edit = true) && (#{model} = model)') {{ model }}
                                        span(ng-if='field.edit')
                                            +table-java-class-field('Trust manager', name, model, trust, valid, save, false)
                                                +table-save-button(valid, save, false)
                                                +unique-feedback(name, uniqueTip)
                            div(ng-hide=enabled)
                                div(ng-repeat='model in #{trust} track by $index')
                                    label.col-xs-12.col-sm-12.col-md-12
                                        .labelFormField.labelField
                                            | {{ $index+1 }})
                                        span.labelFormField
                                            | {{ model }}

                        .group-content(ng-repeat='field in group.add')
                            -var model = 'new';
                            -var name = '"new"'
                            -var valid = form + '[' + name + '].$valid'
                            -var save = trust + '.push(' + model + ')'
 
                            div
                                label.col-xs-12.col-sm-12.col-md-12
                                    +table-java-class-field('Trust manager', name, model, trust, valid, save, true)
                                        +table-save-button(valid, save, true)
                                        +unique-feedback(name, uniqueTip)

                        .group-content-empty(ng-if='!(#{trust}.length) && !group.add.length')
                            | Not defined

                .settings-row(ng-show='!#{trust}.length')
                    +text-enabled('Trust store file:', model + '.trustStoreFilePath', '"trustStoreFilePath"', enabled, 'false', 'Path to the trust store file', 'Path to the trust store file')
                .settings-row(ng-show='!#{trust}.length')
                    +text-options('Trust store type:', model + '.trustStoreType', '"trustStoreType"', '["JKS", "PCKS11", "PCKS12"]', enabled, 'false', 'JKS', 'Trust store type used in context initialization')
            .col-sm-6
                +preview-xml-java(cluster, 'clusterSsl')
