//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

include /app/helpers/jade/mixins

-var form = 'pools'
-var model = 'backupItem'
-var executors = model + '.executorConfiguration'

.panel.panel-default(ng-form=form novalidate)
    .panel-heading(bs-collapse-toggle ng-click=`ui.loadPanel('${form}')`)
        ignite-form-panel-chevron
        label Thread pools size
        ignite-form-field-tooltip.tipLabel
            | Settings for node thread pools
        ignite-form-revert
    .panel-collapse(role='tabpanel' bs-collapse-target id=`${form}`)
        .panel-body(ng-if=`ui.isPanelLoaded('${form}')`)
            .col-sm-6
                .settings-row
                    +number('Public:', model + '.publicThreadPoolSize', '"publicThreadPoolSize"', 'true', 'max(8, availableProcessors) * 2', '1',
                        'Thread pool that is in charge of processing ComputeJob, GridJobs and user messages sent to node')
                .settings-row
                    +number('System:', model + '.systemThreadPoolSize', '"systemThreadPoolSize"', 'true', 'max(8, availableProcessors) * 2', '1',
                        'Thread pool that is in charge of processing internal system messages')
                .settings-row
                    +number('Service:', model + '.serviceThreadPoolSize', '"serviceThreadPoolSize"', 'true', 'max(8, availableProcessors) * 2', '1',
                        'Thread pool that is in charge of processing proxy invocation')
                .settings-row
                    +number('Management:', model + '.managementThreadPoolSize', '"managementThreadPoolSize"', 'true', '4', '1',
                        'Thread pool that is in charge of processing internal and Visor ComputeJob, GridJobs')
                .settings-row
                    +number('IGFS:', model + '.igfsThreadPoolSize', '"igfsThreadPoolSize"', 'true', 'availableProcessors', '1',
                        'Thread pool that is in charge of processing outgoing IGFS messages')
                .settings-row
                    +number('Rebalance:', model + '.rebalanceThreadPoolSize', '"rebalanceThreadPoolSize"', 'true', '1', '1',
                        'Max count of threads can be used at rebalancing')
                .settings-row
                    +number('Utility cache:', model + '.utilityCacheThreadPoolSize', '"utilityCacheThreadPoolSize"', 'true', 'max(8, availableProcessors)', '1',
                        'Default thread pool size that will be used to process utility cache messages')
                .settings-row
                    +number('Utility cache keep alive time:', model + '.utilityCacheKeepAliveTime', '"utilityCacheKeepAliveTime"', 'true', '60000', '0',
                        'Keep alive time of thread pool size that will be used to process utility cache messages')
                .settings-row
                    +number('Async callback:', model + '.asyncCallbackPoolSize', '"asyncCallbackPoolSize"', 'true', 'max(8, availableProcessors)', '1',
                        'Size of thread pool that is in charge of processing asynchronous callbacks')
                .settings-row
                    +number('Striped:', model + '.stripedPoolSize', '"stripedPoolSize"', 'true', 'max(8, availableProcessors)', '1',
                        'Striped pool size that should be used for cache requests processing')

                //- Since ignite 2.0
                div(ng-if='$ctrl.available("2.0.0")')
                    .settings-row
                        +number('Data streamer:', model + '.dataStreamerThreadPoolSize', '"dataStreamerThreadPoolSize"', 'true', 'max(8, availableProcessors)', '1',
                            'Size of thread pool that is in charge of processing data stream messages')
                    .settings-row
                        +number('Query:', model + '.queryThreadPoolSize', '"queryThreadPoolSize"', 'true', 'max(8, availableProcessors)', '1',
                            'Size of thread pool that is in charge of processing query messages')
                    .settings-row(ng-init='executorConfigurationsTbl={type: "executorConfigurations", model: "executorConfigurations", focusId: "kind", ui: "failover-table"}')
                        +ignite-form-group()
                            ignite-form-field-label
                                | Executor configurations
                            ignite-form-group-tooltip
                                | Custom thread pool configurations for compute tasks
                            ignite-form-group-add(ng-click='tableNewItem(executorConfigurationsTbl)')
                                | Add executor configuration
                            .group-content-empty(ng-if=`!(${executors} && ${executors}.length > 0)`)
                                | Not defined
                            .group-content(ng-show=`${executors} && ${executors}.length > 0` ng-repeat=`model in ${executors} track by $index`)
                                hr(ng-if='$index != 0')
                                .settings-row
                                    +text-enabled-autofocus('Name:', 'model.name', '"ExecutorName" + $index', 'true', 'true', 'Input executor name', 'Thread pool name')
                                        +table-remove-button(executors, 'Remove executor configuration')
                                .settings-row
                                    +number('Pool size:', 'model.size', '"ExecutorPoolSize" + $index', 'true', 'max(8, availableProcessors)', '1',
                                        'Thread pool size')

            .col-sm-6
                +preview-xml-java(model, 'clusterPools')
