//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

- var model = 'backupItem.connector'

form.panel.panel-default(name='connector' novalidate)
    .panel-heading(bs-collapse-toggle ng-click='__show__ = true')
        ignite-form-panel-chevron
        label Connector configuration
        ignite-form-field-tooltip.tipLabel
            | REST access configuration
        ignite-form-revert
    .panel-collapse(role='tabpanel' bs-collapse-target id='connector')
        .panel-body(ng-if='__show__')
            .col-sm-6
                .settings-row
                    ignite-form-field.checkbox
                        ignite-form-field-input-checkbox(
                            data-id='restEnabled'
                            data-name='restEnabled'
                            data-ng-model='#{model}.enabled'
                        )
                        | Enabled
                        ignite-form-field-tooltip
                            | Flag indicating whether to configure connector configuration
                .settings-row
                    ignite-form-field
                        ignite-form-field-label
                            | Jetty configuration path:
                        ignite-form-field-tooltip
                            | Path, either absolute or relative to IGNITE_HOME, to Jetty XML configuration file#[br]
                            | Jetty is used to support REST over HTTP protocol for accessing Ignite APIs remotely#[br]
                            | If not provided, Jetty instance with default configuration will be started picking IgniteSystemProperties.IGNITE_JETTY_HOST and IgniteSystemProperties.IGNITE_JETTY_PORT as host and port respectively
                        ignite-form-field-input-text(
                            data-id='connectorJettyPath'
                            data-name='connectorJettyPath'
                            data-ng-model='#{model}.jettyPath'
                            data-ng-disabled='!#{model}.enabled'
                        )
                .settings-row
                    ignite-form-field
                        ignite-form-field-label
                            | TCP host:
                        ignite-form-field-tooltip
                            | Host for TCP binary protocol server#[br]
                            | This can be either an IP address or a domain name#[br]
                            | If not defined, system-wide local address will be used IgniteConfiguration#getLocalHost()#[br]
                            | You can also use '0.0.0.0' value to bind to all locally-available IP addresses
                        ignite-form-field-input-text(
                            data-id='connectorHost'
                            data-name='connectorHost'
                            data-ng-model='#{model}.host'
                            data-ng-disabled='!#{model}.enabled'
                            data-placeholder='IgniteConfiguration#getLocalHost()'
                        )
                .settings-row
                    ignite-form-field
                        ignite-form-field-label
                            | TCP port:
                        ignite-form-field-tooltip
                            | Port for TCP binary protocol server
                        ignite-form-field-input-number(
                            data-id='connectorPort'
                            data-name='connectorPort'
                            data-ng-model='#{model}.port'
                            data-ng-disabled='!#{model}.enabled'
                            data-placeholder='11211'
                            data-min='1024'
                            data-max='65535'
                        )
                .settings-row
                    ignite-form-field
                        ignite-form-field-label
                            | TCP port range:
                        ignite-form-field-tooltip
                            | Number of ports for TCP binary protocol server to try if configured port is already in use
                        ignite-form-field-input-number(
                            data-id='connectorPortRange'
                            data-name='connectorPortRange'
                            data-ng-model='#{model}.portRange'
                            data-placeholder='100'
                            data-ng-disabled='!#{model}.enabled'
                            data-min='1'
                        )
                .settings-row
                    ignite-form-field
                        ignite-form-field-label
                            | Idle query cursor timeout:
                        ignite-form-field-tooltip
                            | Reject open query cursors that is not used timeout#[br]
                            | If no fetch query request come within idle timeout, it will be removed on next check for old query cursors
                        ignite-form-field-input-number(
                        data-id='connectorIdleQueryCursorTimeout'
                        data-name='connectorIdleQueryCursorTimeout'
                        data-ng-model='#{model}.idleQueryCursorTimeout'
                        data-placeholder='600000'
                        data-ng-disabled='!#{model}.enabled'
                        )
                .settings-row
                    ignite-form-field
                        ignite-form-field-label
                            | Idle query cursor check frequency:
                        ignite-form-field-tooltip
                            | Idle query cursors check frequency#[br]
                            | This setting is used to reject open query cursors that is not used
                        ignite-form-field-input-number(
                        data-id='connectorIdleQueryCursorCheckFrequency'
                        data-name='connectorIdleQueryCursorCheckFrequency'
                        data-ng-model='#{model}.idleQueryCursorCheckFrequency'
                        data-placeholder='60000'
                        data-ng-disabled='!#{model}.enabled'
                        )
                .settings-row
                    ignite-form-field
                        ignite-form-field-label
                            | Idle timeout:
                        ignite-form-field-tooltip
                            | Idle timeout for REST server#[br]
                            | This setting is used to reject half-opened sockets#[br]
                            | If no packets come within idle timeout, the connection is closed
                        ignite-form-field-input-number(
                            data-id='connectorIdleTimeout'
                            data-name='connectorIdleTimeout'
                            data-ng-model='#{model}.idleTimeout'
                            data-placeholder='7000'
                            data-ng-disabled='!#{model}.enabled'
                        )
                .settings-row
                    ignite-form-field
                        ignite-form-field-label
                            | Receive buffer size:
                        ignite-form-field-tooltip
                            | REST TCP server receive buffer size
                        ignite-form-field-input-number(
                            data-id='connectorReceiveBufferSize'
                            data-name='connectorReceiveBufferSize'
                            data-ng-model='#{model}.receiveBufferSize'
                            data-placeholder='32768'
                            data-ng-disabled='!#{model}.enabled'
                        )
                .settings-row
                    ignite-form-field
                        ignite-form-field-label
                            | Send buffer size:
                        ignite-form-field-tooltip
                            | REST TCP server send buffer size
                        ignite-form-field-input-number(
                            data-id='connectorSendBufferSize'
                            data-name='connectorSendBufferSize'
                            data-ng-model='#{model}.sendBufferSize'
                            data-placeholder='32768'
                            data-ng-disabled='!#{model}.enabled'
                        )
                .settings-row
                    ignite-form-field
                        ignite-form-field-label
                            | Send queue limit:
                        ignite-form-field-tooltip
                            | REST TCP server send queue limit#[br]
                            | If the limit exceeds, all successive writes will block until the queue has enough capacity
                        ignite-form-field-input-number(
                            data-id='connectorSendQueueLimit'
                            data-name='connectorSendQueueLimit'
                            data-ng-model='#{model}.sendQueueLimit'
                            data-placeholder='unlimited'
                            data-ng-disabled='!#{model}.enabled'
                        )
                .settings-row
                    ignite-form-field.checkbox
                        ignite-form-field-input-checkbox(
                            data-id='connectorDirectBuffer'
                            data-name='connectorDirectBuffer'
                            data-ng-model='#{model}.directBuffer'
                            data-ng-disabled='!#{model}.enabled'
                        )
                        | Direct buffer
                        ignite-form-field-tooltip
                            | Flag indicating whether REST TCP server should use direct buffers#[br]
                            | A direct buffer is a buffer that is allocated and accessed using native system calls, without using JVM heap#[br]
                            | Enabling direct buffer may improve performance and avoid memory issues (long GC pauses due to huge buffer size)
                .settings-row
                    ignite-form-field.checkbox
                        ignite-form-field-input-checkbox(
                            data-id='connectorNoDelay'
                            data-name='connectorNoDelay'
                            data-ng-model='#{model}.noDelay'
                            data-ng-disabled='!#{model}.enabled'
                        )
                        | TCP_NODELAY option
                        ignite-form-field-tooltip
                            | Flag indicating whether TCP_NODELAY option should be set for accepted client connections#[br]
                            | Setting this option reduces network latency and should be enabled in majority of cases#[br]
                            | For more information, see Socket#setTcpNoDelay(boolean)
                .settings-row
                    ignite-form-field
                        ignite-form-field-label
                            | Selector count:
                        ignite-form-field-tooltip
                            | Number of selector threads in REST TCP server#[br]
                            | Higher value for this parameter may increase throughput, but also increases context switching
                        ignite-form-field-input-number(
                            data-id='connectorSelectorCount'
                            data-name='connectorSelectorCount'
                            data-ng-model='#{model}.selectorCount'
                            data-placeholder='min(4, availableProcessors)'
                            data-ng-disabled='!#{model}.enabled'
                            data-min='1'
                        )
                .settings-row
                    ignite-form-field
                        ignite-form-field-label
                            | Thread pool size:
                        ignite-form-field-tooltip
                            | Thread pool size to use for processing of client messages (REST requests)
                        ignite-form-field-input-number(
                            data-id='connectorThreadPoolSize'
                            data-name='connectorThreadPoolSize'
                            data-ng-model='#{model}.threadPoolSize'
                            data-placeholder='max(8, availableProcessors) * 2'
                            data-ng-disabled='!#{model}.enabled'
                            data-min='1'
                        )
                .settings-row
                    ignite-form-field
                        ignite-form-field-label
                            | Message interceptor:
                        ignite-form-field-tooltip
                            | Interceptor allows to transform all objects exchanged via REST protocol#[br]
                            | For example if you use custom serialisation on client you can write interceptor to transform binary representations received from client to Java objects and later access them from java code directly
                        ignite-form-field-java-class(
                            data-id='connectorMessageInterceptor'
                            data-name='connectorMessageInterceptor'
                            data-ng-model='#{model}.messageInterceptor'
                            data-ng-disabled='!#{model}.enabled'
                        )
                .settings-row
                    ignite-form-field
                        ignite-form-field-label
                            | Secret key:
                        ignite-form-field-tooltip
                            | Secret key to authenticate REST requests
                        ignite-form-field-input-text(
                            data-id='connectorSecretKey'
                            data-name='connectorSecretKey'
                            data-ng-model='#{model}.secretKey'
                            data-ng-disabled='!#{model}.enabled'
                            data-placeholder='Specify to enable authentication'
                        )
                .settings-row
                    ignite-form-field.checkbox
                        ignite-form-field-input-checkbox(
                            data-id='connectorSslEnabled'
                            data-name='connectorSslEnabled'
                            data-ng-model='#{model}.sslEnabled'
                            data-ng-disabled='!#{model}.enabled'
                        )
                        | Enable SSL
                        ignite-form-field-tooltip
                            | Enables/disables SSL for REST TCP binary protocol
                .settings-row
                    ignite-form-field.checkbox
                        ignite-form-field-input-checkbox(
                            data-id='connectorSslClientAuth'
                            data-name='connectorSslClientAuth'
                            data-ng-model='#{model}.sslClientAuth'
                            data-ng-disabled='!#{model}.enabled || !#{model}.sslEnabled'
                        )
                        | Enable SSL client auth
                        ignite-form-field-tooltip
                            | Flag indicating whether or not SSL client authentication is required
                .settings-row
                    ignite-form-field
                        ignite-form-field-label
                            | SSL factory:
                        ignite-form-field-tooltip
                            | Instance of Factory that will be used to create an instance of SSLContext for Secure Socket Layer on TCP binary protocol
                        ignite-form-field-java-class(
                            data-id='connectorSslFactory'
                            data-name='connectorSslFactory'
                            data-ng-model='#{model}.sslFactory'
                            data-ng-required='#{model}.sslEnabled'
                            data-ng-disabled='!#{model}.enabled || !#{model}.sslEnabled'
                        )
            ignite-ui-ace-tabs.col-sm-6
                .preview-panel(ng-init='mode = false')
                    .preview-legend
                        a(ng-class='{active: !mode, inactive: mode}' ng-click='mode = false') XML
                        | &nbsp;
                        a(ng-class='{active: mode, inactive: !mode}' ng-click='mode = true') Java
                    .preview-content(ng-if='mode')
                        ignite-ui-ace-java(data-cluster='backupItem' data-generator='clusterConnector' ng-model='$parent.data')
                    .preview-content(ng-if='!mode')
                        ignite-ui-ace-xml(data-cluster='backupItem' data-generator='clusterConnector' ng-model='$parent.data')
                    .preview-content-empty(ng-if='!data')
                        label All Defaults
