//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

- var model = 'backupItem'
- var exclude = model + '.peerClassLoadingLocalClassPathExclude'
- var form = 'deployment'
- var enabled = 'backupItem.peerClassLoadingEnabled'

mixin feedback(name, error, message)
    i.fa.fa-exclamation-triangle.form-control-feedback(
        ng-show='!#{form}.#{name}.$pristine && #{form}.#{name}.$error.#{error}'
        bs-tooltip
        data-title='#{message}'
    )

form.panel.panel-default(name='#{form}' novalidate)
    .panel-heading(bs-collapse-toggle ng-click='__show__ = true')
        ignite-form-panel-chevron
        label Class deployment
        ignite-form-field-tooltip.tipLabel
            | Task and resources deployment in cluster
        ignite-form-revert
    .panel-collapse(role='tabpanel' bs-collapse-target id='deployment')
        .panel-body(ng-if='__show__')
            .col-sm-6
                .settings-row
                    ignite-form-field
                        ignite-form-field-label
                            | Deployment mode:
                        ignite-form-field-tooltip
                            | Task classes and resources sharing mode#[br]
                            | The following deployment modes are supported:#[br]
                            ul
                                li PRIVATE - in this mode deployed classes do not share resources
                                li ISOLATED - in this mode tasks or classes deployed within the same class loader will share the same instances of resources
                                li SHARED - same as ISOLATED, but now tasks from different master nodes with the same user version and same class loader will share the same class loader on remote nodes
                                li CONTINUOUS - same as SHARED deployment mode, but resources will not be undeployed even after all master nodes left grid
                        ignite-form-field-dropdown(
                            data-id='deploymentMode'
                            data-name='deploymentMode'
                            data-options='[\
                                {value: "PRIVATE", label: "PRIVATE"},\
                                {value: "ISOLATED", label: "ISOLATED"}, \
                                {value: "SHARED", label: "SHARED"},\
                                {value: "CONTINUOUS", label: "CONTINUOUS"}\
                            ]'
                            data-ng-model='#{model}.deploymentMode'
                            data-placeholder='SHARED'
                        )
                .settings-row
                    ignite-form-field.checkbox
                        ignite-form-field-input-checkbox(
                            data-id='peerClassLoadingEnabled'
                            data-name='peerClassLoadingEnabled'
                            data-ng-model='#{model}.peerClassLoadingEnabled'
                        )
                        | Enable peer class loading
                        ignite-form-field-tooltip
                            | Enables/disables peer class loading
                .settings-row
                    ignite-form-field
                        ignite-form-field-label
                            | Missed resources cache size:
                        ignite-form-field-tooltip
                            | If size greater than 0, missed resources will be cached and next resource request ignored
                            | If size is 0, then request for the resource will be sent to the remote node every time this resource is requested
                        ignite-form-field-input-number(
                            data-id='peerClassLoadingMissedResourcesCacheSize'
                            data-name='peerClassLoadingMissedResourcesCacheSize'
                            data-ng-model='#{model}.peerClassLoadingMissedResourcesCacheSize'
                            data-placeholder='100'
                            data-ng-disabled='!#{enabled}'
                        )
                .settings-row
                    ignite-form-field
                        ignite-form-field-label
                            | Pool size:
                        ignite-form-field-tooltip
                            | Thread pool size to use for peer class loading
                        ignite-form-field-input-number(
                            data-id='peerClassLoadingThreadPoolSize'
                            data-name='peerClassLoadingThreadPoolSize'
                            data-ng-model='#{model}.peerClassLoadingThreadPoolSize'
                            data-placeholder='2'
                            data-ng-disabled='!#{enabled}'
                            data-min='1'
                        )
                .settings-row
                    ignite-form-group(ng-model='#{exclude}' ng-form='#{form}' )
                        ignite-form-field-label
                            | Local class path exclude
                        ignite-form-group-tooltip
                            | List of packages from the system classpath that need to be peer-to-peer loaded from task originating node#[br]
                            | '*' is supported at the end of the package name which means that all sub-packages and their classes are included like in Java package import clause
                        ignite-form-group-add(ng-show='#{enabled}' ng-click='(group.add = [{}])')
                            | Add package name.

                        - var field = 'edit'
                        - var valid = form + '.' + field + '.$valid'
                        - var save = exclude + '[$index] = ' + field

                        .group-content(ng-if='#{exclude}.length')
                            ignite-form-field(ng-repeat='model in #{exclude} track by $index' type='internal')
                                .indexField
                                    | {{ $index+1 }}) 
                                i.tipField.fa.fa-remove(
                                    ng-hide='field.edit'
                                    bs-tooltip='"Remove package name"'
                                    ng-click='#{exclude}.splice(#{exclude}.indexOf(model), 1)'
                                )
                                span(ng-hide='field.edit')
                                    a.labelFormField(ng-click='#{enabled} && (field.edit = true)') {{ model }}
                                span(ng-if='field.edit' ng-init='#{field} = model')
                                    ignite-form-field-input-text(
                                        data-name='#{field}'
                                        data-ng-model='#{field}'
                                        data-ng-required='true'
                                        data-placeholder='Enter package name'
                                        data-java-keywords='true'
                                        data-java-package-name='true'
                                        data-ignite-unique='#{exclude}'
                                        data-ignite-form-field-input-autofocus='true'
                                        on-enter='#{valid} && (#{save}); #{valid} && (field.edit = false);'
                                        on-escape='field.edit = false'
                                        ng-blur='#{valid} && (#{save}); (field.edit = false)'
                                    )
                                        i.fa.fa-floppy-o(
                                            ng-show='#{valid}'
                                            ng-click='#{valid} && (#{save}); #{valid} && (field.edit = false);'
                                            bs-tooltip 
                                            data-title='Click icon or press [Enter] to save item' 
                                        )

                                        +feedback(field, 'required', 'Package name could not be empty')
                                        +feedback(field, 'javaPackageName', 'Package name is invalid')
                                        +feedback(field, 'javaKeywords', 'Package name could not contains reserved java keyword')
                                        +feedback(field, 'igniteUnique', 'Such package already exists')

                        - var field = 'new'
                        - var valid = form + '.' + field + '.$valid'
                        - var push = exclude + '.push(' + field + ')'

                        .group-content(ng-repeat='field in group.add')
                            ignite-form-field(type='internal')
                                ignite-form-field-input-text(
                                    data-name='#{field}'
                                    data-ng-model='#{field}'
                                    data-ng-required='true'
                                    data-placeholder='Enter package name'
                                    data-java-keywords='true'
                                    data-java-package-name='true'
                                    data-ignite-unique='#{exclude}'
                                    data-ignite-form-field-input-autofocus='true'
                                    on-enter='#{valid} && #{push}; #{valid} && (stopblur = true) && (group.add = [{}])'
                                    on-escape='group.add = []'
                                    ng-blur='#{valid} && #{push}; !stopblur && (group.add = [])'
                                )
                                    i.fa.fa-floppy-o(
                                        ng-show='#{valid}'
                                        ng-click='#{valid} && #{push}; #{valid} && (group.add = [])'
                                        bs-tooltip 
                                        data-title='Click icon or press [Enter] to save item' 
                                    )

                                    +feedback(field, 'required', 'Package name could not be empty')
                                    +feedback(field, 'javaPackageName', 'Package name is invalid')
                                    +feedback(field, 'javaKeywords', 'Package name could not contains reserved java keyword')
                                    +feedback(field, 'igniteUnique', 'Such package already exists')
            
                        .group-content-empty(ng-if='!(#{exclude}.length) && !group.add.length')
                            | Not defined
            ignite-ui-ace.col-sm-6
                .preview-panel(ng-init='mode = false')
                    .preview-legend
                        a(ng-class='{active: !mode, inactive: mode}' ng-click='mode = false') XML
                        | &nbsp;
                        a(ng-class='{active: mode, inactive: !mode}' ng-click='mode = true') Java
                    .preview-content(ng-if='mode')
                        ignite-ui-ace-java(data-cluster='backupItem' data-generator='clusterDeployment' ng-model='$parent.data')
                    .preview-content(ng-if='!mode')
                        ignite-ui-ace-xml(data-cluster='backupItem' data-generator='clusterDeployment' ng-model='$parent.data')
                    .preview-content-empty(ng-if='!data')
                        label All Defaults
