//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

- var model = 'backupItem'

form.panel.panel-default(name='general' novalidate)
    .panel-heading(bs-collapse-toggle)
        ignite-form-panel-chevron
        label General
        ignite-form-revert
    .panel-collapse(role='tabpanel' bs-collapse-target id='general')
        .panel-body
            .col-sm-6
                .settings-row
                   ignite-form-field
                        ignite-form-field-label
                            | Name:
                        ignite-form-field-tooltip
                            | Grid name
                        ignite-form-field-input-text(
                            data-id='clusterName'
                            data-name='clusterName'
                            data-ng-model='#{model}.name'
                            data-ng-required='true'
                            data-placeholder='Input name'
                        )
                .settings-row
                    ignite-form-field
                        ignite-form-field-label
                            | Caches: #[a(ui-sref='base.configuration.caches({id: #{model}._id})') (add)]
                        ignite-form-field-tooltip
                            | Select caches to start in cluster or add a new cache
                        ignite-form-field-dropdown(
                            data-id='caches'
                            data-name='caches'
                            data-options='caches'
                            data-multiple='true'
                            data-ng-model='#{model}.caches'
                            data-ng-disabled='!caches.length'
                            data-placeholder='{{ caches.length ? "Choose caches": "No caches configured" }}'
                        )
                .settings-row
                   ignite-form-field
                        ignite-form-field-label
                            | Local host:
                        ignite-form-field-tooltip
                            | System-wide local address or host for all Ignite components to bind to
                        ignite-form-field-input-text(
                            data-id='localHost'
                            data-name='localHost'
                            data-ng-model='#{model}.localHost'
                            data-placeholder='0.0.0.0'
                        )
                .settings-row
                    ignite-form-field
                        ignite-form-field-label
                            | Discovery:
                        ignite-form-field-tooltip
                            | Discovery allows to discover remote nodes in grid
                            ul: li Static IPs - IP Finder which works only with pre configured list of IP addresses specified
                                li Multicast - Multicast based IP finder
                                li AWS S3 - AWS S3 based IP finder
                                li Apache jclouds - Apache jclouds multi cloud toolkit based IP finder
                                li Google cloud storage - Google Cloud Storage based IP finder
                                li JDBC - JDBC based IP finder
                                li Shared filesystem - Shared filesystem based IP finder
                                li Apache ZooKeeper - Apache ZooKeeper based IP finder
                        ignite-form-field-dropdown(
                            data-id='discovery'
                            data-name='discovery'
                            data-options='discoveries'
                            data-ng-model='#{model}.discovery.kind'
                            data-placeholder='Choose marshaller'
                        )
                .settings-row
                    .col-sm-12.panel-details
                        ignite-configuration-clusters-general-discovery-cloud(
                            ng-if='#{model}.discovery.kind === "Cloud"')
                        ignite-configuration-clusters-general-discovery-google(
                            ng-if='#{model}.discovery.kind === "GoogleStorage"')
                        ignite-configuration-clusters-general-discovery-jdbc(
                            ng-if='#{model}.discovery.kind === "Jdbc"')
                        ignite-configuration-clusters-general-discovery-multicast(
                            ng-if='#{model}.discovery.kind === "Multicast"')
                        ignite-configuration-clusters-general-discovery-s3(
                            ng-if='#{model}.discovery.kind === "S3"')
                        ignite-configuration-clusters-general-discovery-shared(
                            ng-if='#{model}.discovery.kind === "SharedFs"')
                        ignite-configuration-clusters-general-discovery-vm(
                            ng-if='#{model}.discovery.kind === "Vm"')
                        ignite-configuration-clusters-general-discovery-zookeeper(
                            ng-if='#{model}.discovery.kind === "ZooKeeper"')
            ignite-ui-ace-tabs.col-sm-6
                .preview-panel(ng-init='mode = false')
                    .preview-legend
                        a(ng-class='{active: !mode, inactive: mode}' ng-click='mode = false') XML
                        | &nbsp;
                        a(ng-class='{active: mode, inactive: !mode}' ng-click='mode = true') Java
                    .preview-content(ng-if='mode')
                        ignite-ui-ace-java(data-cluster='backupItem' data-generator='clusterCaches' data-caches='caches')
                    .preview-content(ng-if='!mode')
                        ignite-ui-ace-xml(data-cluster='backupItem' data-generator='clusterCaches' data-caches='caches')
