//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

- var cluster = 'backupItem'
- var enabled = 'backupItem.sslEnabled'
- var model = cluster + '.sslContextFactory'
- var trust = model + '.trustManagers'
- var form = 'trustManagers'

mixin feedback(field, error, message)
    i.fa.fa-exclamation-triangle.form-control-feedback(
        ng-show='!#{form}.$pristine && #{form}.#{field}.$error.#{error}'
        bs-tooltip
        data-title='#{message}'
    )

form.panel.panel-default(name='#{form}' novalidate)
    .panel-heading(bs-collapse-toggle ng-click='__show__ = true')
        ignite-form-panel-chevron
        label(id='sslConfiguration-title') SSL configuration
        ignite-form-field-tooltip.tipLabel
            | Settings for SSL configuration
        ignite-form-revert
    .panel-collapse(role='tabpanel' bs-collapse-target id='sslConfiguration')
        .panel-body(ng-if='__show__')
            .col-sm-6
                .settings-row
                    ignite-form-field.checkbox
                        ignite-form-field-input-checkbox(
                            data-id='sslEnabled'
                            data-name='sslEnabled'
                            data-ng-model='#{enabled}'
                        )
                        | Enabled
                        ignite-form-field-tooltip
                            | Flag indicating whether to configure SSL configuration
                
                .settings-row
                    ignite-form-field
                        ignite-form-field-label
                            | Algorithm to create a key manager:
                        ignite-form-field-tooltip
                            | Sets key manager algorithm that will be used to create a key manager,#[br]
                            | Notice that in most cased default value suites well, however, on Android platform this value need to be set to X509
                        ignite-form-field-input-datalist(
                            data-id='keyAlgorithm'
                            data-name='keyAlgorithm'
                            data-options='["SumX509", "X509"]'
                            data-ng-model='#{model}.keyAlgorithm'
                            data-placeholder='SumX509'
                            data-ng-disabled='!#{enabled}'
                        )

                .settings-row
                    ignite-form-field
                        ignite-form-field-label
                            | Key store file:
                        ignite-form-field-tooltip
                            | Path to the key store file,#[br]
                            | This is a mandatory parameter since ssl context could not be initialized without key manager
                        ignite-form-field-input-text(
                            data-id='keyStoreFilePath'
                            data-name='keyStoreFilePath'
                            data-ng-model='#{model}.keyStoreFilePath'
                            data-placeholder='Path to the key store file'
                            data-ng-required='#{enabled}'
                            data-ng-disabled='!#{enabled}'
                        )

                .settings-row
                    ignite-form-field
                        ignite-form-field-label
                            | Key store type:
                        ignite-form-field-tooltip
                            | Key store type used in context initialization
                        ignite-form-field-input-datalist(
                            data-id='keyStoreType'
                            data-name='keyStoreType'
                            data-options='["JKS", "PCKS11", "PCKS12"]'
                            data-ng-model='#{model}.keyStoreType'
                            data-placeholder='JKS'
                            data-ng-disabled='!#{enabled}'
                        )

                .settings-row
                    ignite-form-field
                        ignite-form-field-label
                            | Protocol:
                        ignite-form-field-tooltip
                            | Protocol for secure transport
                        ignite-form-field-input-datalist(
                            data-id='protocol'
                            data-name='protocol'
                            data-options='["TSL", "SSL"]'
                            data-ng-model='#{model}.protocol'
                            data-placeholder='TSL'
                            data-ng-disabled='!#{enabled}'
                        )

                .settings-row
                    ignite-form-group(ng-form='trustManagers' ng-model='#{trust}')
                        ignite-form-field-label
                            | Trust managers
                        ignite-form-group-tooltip
                            | Pre-configured trust managers
                        ignite-form-group-add(ng-show='#{enabled}' ng-click='(group.add = [{}])')
                            | Add new trust manager.

                        - var field = 'edit'
                        - var valid = form + '.' + field + '.$valid'
                        - var save = trust + '[$index] = ' + field

                        .group-content(ng-if='#{trust}.length')
                            ignite-form-field(ng-repeat='model in #{trust} track by $index' type='internal')
                                .indexField
                                    | {{ $index+1 }}) 
                                i.tipField.fa.fa-remove(
                                    ng-show='#{enabled}'
                                    ng-hide='field.edit'
                                    bs-tooltip='"Remove trust manager"'
                                    ng-click='#{enabled} && (#{trust}.splice(#{trust}.indexOf(model), 1))'
                                )
                                span(ng-hide='field.edit')
                                    a.labelFormField(ng-click='#{enabled} && (field.edit = true)') {{ model }}
                                span(ng-if='field.edit' ng-init='#{field} = model')
                                    ignite-form-field-java-class(
                                        data-name='#{field}'
                                        data-ng-model='#{field}'
                                        data-ng-required='true'
                                        data-ignite-unique='#{trust}'
                                        data-ignite-form-field-input-autofocus='true'
                                        on-enter='#{valid} && (#{save}); #{valid} && (field.edit = false);'
                                        on-escape='field.edit = false'
                                        ng-blur='#{valid} && (#{save}); (field.edit = false)'
                                    )
                                        i.fa.fa-floppy-o(
                                            ng-show='#{valid}'
                                            ng-click='#{valid} && (#{save}); #{valid} && (field.edit = false);'
                                            bs-tooltip 
                                            data-title='Click icon or press [Enter] to save item' 
                                        )

                                        i.fa.fa-exclamation-triangle.form-control-feedback(
                                            ng-show='!#{form}.#{field}.$pristine && #{form}.#{field}.$error.igniteUnique'
                                            bs-tooltip
                                            data-title='Such trust manager already exists!'
                                        )

                        - var field = 'new'
                        - var valid = form + '.' + field + '.$valid'
                        - var push = trust + '.push(' + field + ')'

                        .group-content(ng-repeat='field in group.add')
                            ignite-form-field(type='internal')
                                ignite-form-field-java-class(
                                    data-name='#{field}'
                                    data-ng-model='#{field}'
                                    data-ng-required='true'
                                    data-ignite-unique='#{trust}'
                                    data-ignite-form-field-input-autofocus='true'
                                    on-enter='#{valid} && #{push}; #{valid} && (stopblur = true) && (group.add = [{}])'
                                    on-escape='group.add = []'
                                    ng-blur='#{valid} && #{push}; !stopblur && (group.add = [])'
                                )
                                    i.fa.fa-floppy-o(
                                        ng-show='#{valid}'
                                        ng-click='#{valid} && #{push}; #{valid} && (group.add = [])'
                                        bs-tooltip 
                                        data-title='Click icon or press [Enter] to save item' 
                                    )

                                    i.fa.fa-exclamation-triangle.form-control-feedback(
                                        ng-show='!#{form}.#{field}.$pristine && #{form}.#{field}.$error.igniteUnique'
                                        bs-tooltip
                                        data-title='Such trust manager already exists!'
                                    )

                        .group-content-empty(ng-if='!(#{trust}.length) && !group.add.length')
                            | Not defined

                .settings-row(ng-if='!#{trust}.length')
                    ignite-form-field
                        ignite-form-field-label
                            | Trust store file:
                        ignite-form-field-tooltip
                            | Path to the trust store file
                        ignite-form-field-input-text(
                            data-id='trustStoreFilePath'
                            data-name='trustStoreFilePath'
                            data-ng-model='#{model}.trustStoreFilePath'
                            data-placeholder='Path to the trust store file'
                            data-ng-disabled='!#{enabled}'
                        )

                .settings-row(ng-if='!#{trust}.length')
                    ignite-form-field
                        ignite-form-field-label
                            | Trust store type:
                        ignite-form-field-tooltip
                            | Trust store type used in context initialization
                        ignite-form-field-input-datalist(
                            data-id='trustStoreType'
                            data-name='trustStoreType'
                            data-options='["JKS", "PCKS11", "PCKS12"]'
                            data-ng-model='#{model}.trustStoreType'
                            data-placeholder='JKS'
                            data-ng-disabled='!#{enabled}'
                        )                        
 
            ignite-ui-ace-tabs.col-sm-6
                .preview-panel(ng-init='mode = false')
                    .preview-legend
                        a(ng-class='{active: !mode, inactive: mode}' ng-click='mode = false') XML
                        | &nbsp;
                        a(ng-class='{active: mode, inactive: !mode}' ng-click='mode = true') Java
                    .preview-content(ng-if='mode')
                        ignite-ui-ace-java(data-cluster='backupItem' data-generator='clusterSsl' ng-model='$parent.data')
                    .preview-content(ng-if='!mode')
                        ignite-ui-ace-xml(data-cluster='backupItem' data-generator='clusterSsl' ng-model='$parent.data')
                    .preview-content-empty(ng-if='!data')
                        label All Defaults
