//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

mixin ignite-form-field-tooltip(message)
    i.tipField.fa.fa-question-circle(bs-tooltip='"#{message}"')

- var model = 'backupItem'

form.panel.panel-default(bs-collapse ng-model='panel' name='time')
    .panel-heading(bs-collapse-toggle)
        i.fa(ng-class='panel === 0 ? "fa-chevron-circle-up" : "fa-chevron-circle-down"')
        label Time configuration
        i.tipLabel.fa.fa-question-circle(bs-tooltip='"Time settings for CLOCK write ordering mode"')
        //- i.pull-right.fa.fa-undo(
            ng-show='!preview["time"].allDefaults' 
            ng-click='#{model} = {}; $event.stopPropagation()' 
            bs-tooltip 
            data-title='"Undo unsaved changes"')
    .panel-collapse(role='tabpanel' bs-collapse-target id='time')
        .panel-body
            .col-sm-6
                .settings-row
                    ignite-form-field(data-label='Samples size')
                        +ignite-form-field-tooltip('')
                        ignite-form-field-input-number(
                            data-id='clockSyncSamples'
                            data-name='clockSyncSamples'
                            data-ng-model='#{model}.clockSyncSamples'
                            data-placeholder='8'
                        )
                .settings-row
                    ignite-form-field(data-label='Frequency')
                        +ignite-form-field-tooltip('')
                        ignite-form-field-input-number(
                            data-id='clockSyncFrequency'
                            data-name='clockSyncFrequency'
                            data-ng-model='#{model}.clockSyncFrequency'
                            data-placeholder='120000'
                        )
                .settings-row
                    ignite-form-field(data-label='Port base')
                        +ignite-form-field-tooltip('')
                        ignite-form-field-input-number(
                            data-id='timeServerPortBase'
                            data-name='timeServerPortBase'
                            data-ng-model='#{model}.timeServerPortBase'
                            data-placeholder='31100'
                            data-max='65535'
                        )
                .settings-row
                    ignite-form-field(data-label='Port range')
                        +ignite-form-field-tooltip('')
                        ignite-form-field-input-number(
                            data-id='timeServerPortRange'
                            data-name='timeServerPortRange'
                            data-ng-model='#{model}.timeServerPortRange'
                            data-placeholder='100'
                        )
            .col-sm-6
                .preview-panel(ng-init='mode = false')
                    .preview-legend
                        a(ng-class='{active: !mode, inactive: mode}' ng-click='mode = false') XML
                        | &nbsp;
                        a(ng-class='{active: mode, inactive: !mode}' ng-click='mode = true') Java
                    .preview-content(
                        ng-if='!preview["time"].allDefaults && mode'
                        ui-ace='{onLoad: previewInit, onChange: previewChanged, mode: "java", rendererOptions: {minLines: group.previewMinLines || 3}}' 
                        ng-model='preview["time"].java')
                    .preview-content(
                        ng-if='!preview["time"].allDefaults && !mode'
                        ui-ace='{onLoad: previewInit, onChange: previewChanged, mode: "xml", rendererOptions: {minLines: group.previewMinLines || 3}}' 
                        ng-model='preview["time"].xml')
                    .preview-content-empty(ng-if='preview["time"].allDefaults')
                        label All Defaults