//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

- var model = 'backupItem'

form.panel.panel-default(name='time' novalidate)
    .panel-heading(bs-collapse-toggle ng-click='__show__ = true')
        ignite-form-panel-chevron
        label Time configuration
        ignite-form-field-tooltip.tipLabel
            | Time settings for CLOCK write ordering mode
        ignite-form-revert
    .panel-collapse(role='tabpanel' bs-collapse-target id='time')
        .panel-body(ng-if='__show__')
            .col-sm-6
                .settings-row
                    ignite-form-field
                        ignite-form-field-label
                            | Samples size
                        ignite-form-field-tooltip
                            | Number of samples used to synchronize clocks between different nodes#[br]
                            | Clock synchronization is used for cache version assignment in CLOCK order mode
                        ignite-form-field-input-number(
                            data-id='clockSyncSamples'
                            data-name='clockSyncSamples'
                            data-ng-model='#{model}.clockSyncSamples'
                            data-placeholder='8'
                        )
                .settings-row
                    ignite-form-field
                        ignite-form-field-label
                            | Frequency
                        ignite-form-field-tooltip
                            | Frequency at which clock is synchronized between nodes, in milliseconds#[br]
                            | Clock synchronization is used for cache version assignment in CLOCK order mode
                        ignite-form-field-input-number(
                            data-id='clockSyncFrequency'
                            data-name='clockSyncFrequency'
                            data-ng-model='#{model}.clockSyncFrequency'
                            data-placeholder='120000'
                        )
                .settings-row
                    ignite-form-field
                        ignite-form-field-label
                            | Port base
                        ignite-form-field-tooltip
                            | Time server provides clock synchronization between nodes#[br]
                            | Base UPD port number for grid time server. Time server will be started on one of free ports in range
                        ignite-form-field-input-number(
                            data-id='timeServerPortBase'
                            data-name='timeServerPortBase'
                            data-ng-model='#{model}.timeServerPortBase'
                            data-placeholder='31100'
                            data-max='65535'
                        )
                .settings-row
                    ignite-form-field
                        ignite-form-field-label
                            | Port range
                        ignite-form-field-tooltip
                            | Time server port range
                        ignite-form-field-input-number(
                            data-id='timeServerPortRange'
                            data-name='timeServerPortRange'
                            data-ng-model='#{model}.timeServerPortRange'
                            data-placeholder='100'
                            data-min='1'
                        )
            ignite-ui-ace-tabs.col-sm-6
                .preview-panel(ng-init='mode = false')
                    .preview-legend
                        a(ng-class='{active: !mode, inactive: mode}' ng-click='mode = false') XML
                        | &nbsp;
                        a(ng-class='{active: mode, inactive: !mode}' ng-click='mode = true') Java
                    .preview-content(ng-if='mode')
                        ignite-ui-ace-java(data-cluster='backupItem' data-generator='clusterTime' ng-model='$parent.data')
                    .preview-content(ng-if='!mode')
                        ignite-ui-ace-xml(data-cluster='backupItem' data-generator='clusterTime' ng-model='$parent.data')
                    .preview-content-empty(ng-if='!data')
                        label All Defaults
