

pc-items-table(
    table-title='::"My domain models"'
    column-defs='$ctrl.columnDefs'
    items='$ctrl.shortItems$|async:this'
    actions-menu='$ctrl.tableActions$|async:this'
    selected-row-id='$ctrl.selectionManager.selectedItemIDs$|async:this'
    one-way-selection='::true'
    on-selection-change='$ctrl.selectedRows$.next($event)'
    on-filter-changed='$ctrl.filterChanges$.next($event)'
    on-visible-rows-change='$ctrl.visibleRows$.next($event)'
)
    footer-slot
        div(style='font-style: italic' ng-hide='($ctrl.shortItems$|async:this).length')
            | You have no models. #[a.link-success(ui-sref='base.configuration.edit.advanced.models.model({modelID: "new"})') Create one?]
        
        button.btn.dropdown-toggle(ng-click="$ctrl.openDrawer = true") 打开操作面板


app-drawer(
  is-open="$ctrl.openDrawer && ($ctrl.itemID$|async:this)"
  on-close="$ctrl.openDrawer = false"
  title=`$ctrl.itemEditTitle$|async:this`
  width="50%"
)
    model-edit-ui-form(
        model='$ctrl.originalItem$|async:this'
        on-save='$ctrl.save($event)'
        caches='$ctrl.shortCaches$|async:this'
        ng-class='{"pca-form-blocked": !($ctrl.itemID$|async:this)}'
        fake-ui-can-exit='base.configuration.edit.crudui.models.model'
        form-ui-can-exit-guard
    )