//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

include /app/helpers/jade/mixins

mixin lbl(txt)
    label.col-sm-2.required.labelFormField #{txt}

.row.page-profile
    header.header-with-selector
        div
            h1 User profile
        div
            button.btn-ignite.btn-ignite--primary(ng-click='$ctrl.saveUser()' ng-disabled='$ctrl.form.$invalid') Save

    .row.theme--ignite.theme--ignite-2
        ul.tabs.tabs--blue
        .panel--ignite
            -var form = '$ctrl.form'
            form.form-horizontal(name='$ctrl.form' novalidate)
                .row
                    .col-50
                        +form-field__text({
                            label: 'First name:',
                            model: '$ctrl.ui.user.firstName',
                            name: '"firstName"',
                            required: true,
                            placeholder: 'Input first name' 
                        })(
                            ignite-auto-focus
                            ignite-on-enter-focus-move='lastNameInput' 
                        )
                .row
                    .col-50
                        +form-field__text({
                            label: 'Last name:',
                            model: '$ctrl.ui.user.lastName',
                            name: '"lastName"',
                            required: true,
                            placeholder: 'Input last name'
                        })(
                            ignite-on-enter-focus-move='emailInput'
                        )
                .row
                    .col-50
                        +form-field__email({
                            label: 'Email:',
                            model: '$ctrl.ui.user.email',
                            name: '"email"',
                            required: true,
                            placeholder: 'Input email'
                        })(
                            ignite-on-enter-focus-move='phoneInput'
                        )
                .row
                    .col-50
                        +form-field__phone({
                            label: 'Phone (opt):',
                            model: '$ctrl.ui.user.phone',
                            name: '"phone"',
                            required: false,
                            placeholder: 'Input phone'
                        })(
                            ignite-on-enter-focus-move='companyInput'
                        )
                .row
                    .col-50
                        +form-field__text({
                            label: 'Company:',
                            model: '$ctrl.ui.user.company',
                            name: '"company"',
                            required: true,
                            placeholder: 'Input company name'
                        })(
                            ignite-on-enter-focus-move='countryInput' 
                        )
                .row
                    .col-50
                        +form-field__dropdown({
                            label: 'Country:',
                            model: '$ctrl.ui.user.country',
                            name: '"country"', 
                            required: true, 
                            placeholder: 'Choose your country', 
                            options: '$ctrl.ui.countries'
                        })
                
                .advanced-options
                    i.fa(
                    ng-click='$ctrl.toggleToken()'
                    ng-class='$ctrl.ui.expandedToken ? "fa-chevron-circle-down" : "fa-chevron-circle-right"')
                    a(ng-click='$ctrl.toggleToken()') {{$ctrl.ui.expandedToken ? 'Cancel security token changing...' : 'Show security token...'}}

                .detail-row(ng-if='$ctrl.ui.expandedToken')
                    +lbl('Security token:')
                    label#current-security-token {{$ctrl.ui.user.token || 'No security token. Regenerate please.'}}
                    i.tipLabel.fa.fa-refresh(ng-click='$ctrl.generateToken()' bs-tooltip='' data-title='Generate random security token')
                    i.tipLabel.fa.fa-clipboard(ignite-copy-to-clipboard='{{$ctrl.ui.user.token}}' bs-tooltip='' data-title='Copy security token to clipboard')
                    i.tipLabel.icon-help(ng-if=lines bs-tooltip='' data-title='The security token is used for authorization of web agent')

                .advanced-options
                    i.fa(
                    ng-click='$ctrl.togglePassword()'
                    ng-class='$ctrl.ui.expandedPassword ? "fa-chevron-circle-down" : "fa-chevron-circle-right"')
                    a(ng-click='$ctrl.togglePassword()') {{$ctrl.ui.expandedPassword ? 'Cancel password changing...' : 'Change password...'}}
                
                .row(ng-if='$ctrl.ui.expandedPassword')
                    .col-50
                        +form-field__password({
                            label: 'New password:',
                            model: '$ctrl.ui.user.password',
                            name: '"password"',
                            require: true,
                            placeholder: 'New password'
                        })(
                            ignite-auto-focus
                            ignite-on-enter-focus-move='passwordConfirmInput' 
                        )

                .row(ng-if='$ctrl.ui.expandedPassword')
                    .col-50
                        +form-field__password({
                            label: 'Confirm password:',
                            model: 'user.confirm',
                            name: '"passwordConfirm"',
                            require: true,
                            placeholder: 'Confirm new password'
                        })(
                            ignite-on-enter-focus-move='passwordConfirmInput'
                            ignite-match='$ctrl.ui.user.password'
                        )
