//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

mixin lbl(txt)
    label.col-sm-2.required.labelFormField #{txt}

.row
    .docs-content
        .docs-header
            h1 User profile
            hr
        .docs-body
            form.form-horizontal(name='$ctrl.form' novalidate)
                .col-sm-10(style='padding: 0')
                    .details-row
                        +lbl('First name:')
                        .col-xs-5.col-sm-4
                            input#profile-firstname.form-control(ignite-on-enter-focus-move='profile-lastname' type='text' ng-model='$ctrl.ui.user.firstName' placeholder='Input first name' required ignite-auto-focus)
                    .details-row
                        +lbl('Last name:')
                        .col-xs-5.col-sm-4
                            input#profile-lastname.form-control(ignite-on-enter-focus-move='profile-email' type='text' ng-model='$ctrl.ui.user.lastName' placeholder='Input last name' required)
                    .details-row
                        +lbl('Email:')
                        .col-xs-5.col-sm-4
                            input#profile-email.form-control(ignite-on-enter-focus-move='profile-company' type='email' ng-model='$ctrl.ui.user.email' placeholder='Input email' required)
                    .details-row
                        +lbl-not-required('Phone:')
                        .col-xs-5.col-sm-4
                            input#profile-phone.form-control(ignite-on-enter-focus-move='profile-company' type='tel' ng-model='$ctrl.ui.user.phone' placeholder='Input phone')
                    .details-row
                        +lbl('Company:')
                        .col-xs-5.col-sm-4
                            input#profile-company.form-control(ignite-on-enter-focus-move='profile-country' type='text' ng-model='$ctrl.ui.user.company' placeholder='Input company name' required)
                    .details-row
                        +lbl('Country:')
                        .col-xs-5.col-sm-4
                            button#profile-country.select-toggle.form-control(bs-select bs-options='item.name as item.name for item in $ctrl.ui.countries' type='text' ng-model='$ctrl.ui.user.country' placeholder='Choose your country' ng-required='true')
                    .details-row
                        .advanced-options
                            i.fa(
                            ng-click='$ctrl.toggleToken()'
                            ng-class='$ctrl.ui.expandedToken ? "fa-chevron-circle-down" : "fa-chevron-circle-right"')
                            a(ng-click='$ctrl.toggleToken()') {{$ctrl.ui.expandedToken ? 'Cancel security token changing...' : 'Show security token...'}}
                        div(ng-if='$ctrl.ui.expandedToken')
                            +lbl('Security token:')
                            label {{$ctrl.ui.user.token || 'No security token. Regenerate please.'}}
                            i.tipLabel.fa.fa-refresh(ng-click='$ctrl.generateToken()' bs-tooltip='' data-title='Generate random security token')
                            i.tipLabel.fa.fa-clipboard(ignite-copy-to-clipboard='{{$ctrl.ui.user.token}}' bs-tooltip='' data-title='Copy security token to clipboard')
                            i.tipLabel.icon-help(ng-if=lines bs-tooltip='' data-title='The security token is used for authorization of web agent')
                    .details-row
                        .advanced-options
                            i.fa(
                            ng-click='$ctrl.togglePassword()'
                            ng-class='$ctrl.ui.expandedPassword ? "fa-chevron-circle-down" : "fa-chevron-circle-right"')
                            a(ng-click='$ctrl.togglePassword()') {{$ctrl.ui.expandedPassword ? 'Cancel password changing...' : 'Change password...'}}
                        div(ng-if='$ctrl.ui.expandedPassword')
                            .details-row
                                +lbl('New password:')
                                .col-xs-5.col-sm-4
                                    input#profile_password.form-control(ignite-on-enter-focus-move='profile_confirm' type='password' ng-model='$ctrl.ui.user.password' placeholder='New password' required)
                            .details-row
                                +lbl('Confirm:')
                                .col-xs-5.col-sm-4
                                    input#profile_confirm.form-control(type='password' ng-model='user.confirm' ignite-match='$ctrl.ui.user.password' placeholder='Confirm new password' required)
                .col-xs-12.col-sm-12.details-row
                    button.btn.btn-primary(ng-click='$ctrl.saveUser()' ng-disabled='$ctrl.form.$invalid') Save
