

mixin form-field__label({ label, name, required, optional, disabled, namePostfix = '' })
    if label
        -var colon = label[label.length-1] === ':' ? ':' : '';
        - label = label[label.length-1] === ':' ? label.substring(0, label.length - 1) : label
        - optional = optional ? ' <i>(optional)</i>' : '';

        label.form-field__label(
            id=name && `{{ ${name} }}Label`
            for=name && `{{ ${name} }}${ namePostfix }Input`
            class=`{{ ${required} ? 'required' : '' }}`
            ng-disabled=disabled && `${disabled}`
        )
            span !{label}!{optional}!{colon}
            if block
                block
