//-
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

- var model = 'backupItem.discovery.ZooKeeper.retryPolicy.BoundedExponentialBackoff';

div
    .details-row
        ignite-form-field
            ignite-form-field-label
                | Base interval:
            ignite-form-field-tooltip
                | Initial amount of time to wait between retries
            ignite-form-field-input-number(
                data-id='baseSleepTimeMs'
                data-name='baseSleepTimeMs'
                data-ng-model='#{model}.baseSleepTimeMs'
                data-ng-required='true'
                data-placeholder='1000'
            )
    .details-row
        ignite-form-field
            ignite-form-field-label
                | Max interval:
            ignite-form-field-tooltip
                | Max time in ms to sleep on each retry
            ignite-form-field-input-number(
                data-id='maxSleepTimeMs'
                data-name='maxSleepTimeMs'
                data-ng-model='#{model}.maxSleepTimeMs'
                data-placeholder='Integer.MAX_VALUE'
                data-ng-required='true'
            )
    .details-row
        ignite-form-field
            ignite-form-field-label
                | Max retries:
            ignite-form-field-tooltip
                | Max number of times to retry
            ignite-form-field-input-number(
                data-id='maxRetries'
                data-name='maxRetries'
                data-ng-model='#{model}.maxRetries'
                data-ng-required='true'
                data-placeholder='10'
                data-max='29'
            )
